/* Live URL */

.liveurl {
    width: 717px;
    overflow: hidden;
    background: white;
    border-bottom: 1px solid #CCC;
    border-top: 1px solid #CCC;
	border-right: 1px solid #CCC;
	border-left: 1px solid #CCC;
    display: none;
	margin-left:0px;
    
}

.liveurl .inner {
    margin: 15px;

    overflow: hidden;
}

.liveurl span.image {
    float: left;
    clear: none;
}



.liveurl .details {
    float: left;
    overflow: hidden;
    width: 450px;
	margin-top: 30px;
}

.liveurl .details .info * {
    float: left;
    clear: both;
    line-height: 16px;
	padding: 6px 0px 6px 0px;
}


.liveurl .title {
    font-weight: bold;
}

.liveurl .url {
    font-size: 11px;
    font-weight: normal;
    color: #666;
}

.liveurl .image {
    width: 100px;
    margin: 25px 15px 15px 5px;
    float: left;
    display: none;
     
}

.liveurl .video {
    clear: both;
    float: left;
    margin: 10px 0 0 0;
    display: none;
}

.liveurl img {
    width: 100px;
    height: auto;
    display: none;
}

.liveurl img.active {
    display: block;
}

.liveurl .close {
 float: right;
  cursor: pointer;
  margin: 10px;
  text-indent: -999px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: url(http://codewave.co.in/fqube/template/close.gif) 1px 1px;
}

.liveurl .close:hover {
 color:#5AC3A2;
  background: url(http://codewave.co.in/fqube/template/close.gif) 1px 1px;
}
.liveurl .thumbnail {
    float: left;
    margin: 15px 0 0 0;
    clear: both;
    display: none;
}

.liveurl .thumbnail  label {
    padding: 0 0 0 5px;
    vertical-align: text-top;
}

.liveurl .button {
    width: 23px;
    height: 20px;
    float: left;
    border: 1px solid #A8A8A8;
    text-align: center;
    line-height:20px;
    background: #FFF;
    position: relative;
    cursor: pointer;
}

.liveurl .button:before {
    content: '';
    width: 0;
    position:absolute;
    left:5px;
    top: 5px;
}

.liveurl .button:active {
    border-color: #3B5998;
}

.liveurl .button.prev:before {

    border-top: 6px solid transparent;
    border-right: 12px solid #828282;
    border-bottom: 6px solid transparent;    
}

.liveurl .button.next:before {
    border-top: 6px solid transparent;
    border-left: 12px solid #828282;
    border-bottom: 6px solid transparent;    
}

.liveurl .button:active.prev:before {
    border-right: 12px solid  #3B5998;
}

.liveurl .button:active.next:before {
    border-left: 12px solid  #3B5998;
}

.liveurl .button.inactive {
    opacity: 0.5;
    filter:alpha(opacity=50);
    pointer-events:none;
    cursor: default;
}

.liveurl .count {
    float: left;
    margin: 0 0 0 10px;
    line-height: 25px;
}

.liveurl .controls {
    margin: 10px 0 0 0;    
}

.post textarea {
    width: 600px;
    height: 140px;
}

.liveurl-loader {
    display: none;
    width: 16px;
    height: 11px;
    margin: 10px 0;
    background: url(http://codewave.co.in/fqube/template/url-loader.gif);
    
}

.liveurl * {
    font: 12px/1em Tahoma, Arial, Helvetica, Segoe, sans-serif;
}
