/*
Theme Name: Stocky
Theme URI: http://themes.designcrumbs.com/stocky
Description: Stocky is a stock photography theme for use with the Easy Digital Downloads plugin
Author: Jake Caputo
Author URI: http://designcrumbs.com
Version: 1.2.3
Tags: gray, white, dark, light, two-columns, fluid-layout, custom-colors, custom-header, custom-menu, editor-style, featured-images, front-page-post-form, full-width-template, theme-options, threaded-comments, translation-ready

License: GNU General Public License v2.0
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/

/* ============================================== BASIC STUFF ============================================== */

* {
	padding:0;
	margin:0;
}

html {
	overflow-y: auto !important;
}

body {
	background-color: #F2F2F2;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	word-wrap: break-word;
}

body,
input,
textarea,
select {
    color: #454545;
	font-size: 16px;
	line-height: 1.8em;
    font-family: 'Roboto',sans-serif;
}

a {
	color:#454545;
	text-decoration: none;
	-webkit-transition: all .3s linear;
	-moz-transition: all .3s linear;
	-ms-transition: all .3s linear;
	-o-transition: all .3s linear;
	transition: all .3s linear;
	outline:none;
}

p {
    margin: 0 0 15px
}

img {
    border: none;
    max-width: 100%;
    height: auto;
}

.clear {
	clear:both;
}

.clearfix,
.widget .edd-cart li,
.fes-vendor-menu ul {
    zoom: 1
}

.clearfix:before,
.clearfix:after,
.widget .edd-cart li:before,
.widget .edd-cart li:after,
.fes-vendor-menu ul:before,
.fes-vendor-menu ul:after {
    content: "";
    display: table;
    line-height: inherit;
}

.clearfix:after,
.widget .edd-cart li:after,
.fes-vendor-menu ul:after {
    clear: both
}

.additional-meta {
	font-size: xx-small;
}

.wp-caption,
.wp-caption-text,
.sticky,
.gallery-caption,
.bypostauthor {
    display: block
}

blockquote,
q {
    font-style: oblique;
    margin: 0 0 15px;
    font-size: 18px;
    line-height: 25px;
    padding-left: 25px;
    border-left: 5px solid #494949;
}

	blockquote cite {
		display: block;
		margin-top: 15px;
	}

.hide {
    display: none
}

code,
kbd,
tt {
	display: inline-block;
	font-family: monospace;
}

pre {
	font-family: monospace;
	background-color: #E3E3E3;
	padding: 5px 15px;
	max-width: 100%;
	overflow: auto;
	margin-bottom: 15px;
}

small {
	font-size: 12px;
}

strong,
b,
big {
	font-weight: 700;
}

big {
	font-size: 1.2em;
}

address {
	margin-bottom: 15px;
}

cite,
var {
	font-style: oblique;
	color:#848484;
}

ins {
	text-decoration: underline;
	color:#848484;
}

sub,
sup {
	display: inline-block;
	font-size: .8em;
}

/* ============================================== LISTS & GENERAL THINGS ============================================== */

ul,
ol,
dl,
ul li,
ul li,
dl dt,
dl dd  {
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
}

dl dt {
	font-weight: 700;
}

dl dd {
	margin-left: 30px;
	margin-bottom: 20px;
}

/* lists inside posts */

.entry-content ul,
.entry-content ol {
    margin-bottom: 15px
}

    .entry-content ul ol {
        margin-left: 0
    }

    .entry-content ul li {
        margin-left: 10px;
        list-style: disc;
        list-style-position: inside;
    }

        .entry-content ul li ol {
            margin-left: 10px
        }

    .entry-content ol li {
        margin-left: 10px;
        list-style: decimal;
        list-style-position: inside;
    }

        .entry-content ol li li,
        .entry-content ul li li {
            margin-left: 20px
        }

table {
	border-collapse: collapse;
	width: 100%;
	text-align: left;
}

	table th {
		border-bottom:1px solid #E3E3E3;
	}

table th,
table td {
	padding:5px 10px;
}

table thead tr,
table th,
table tr:nth-child(2n) {
	background-color:#F4F4F4
}

/* ============================================== HEADINGS ============================================== */

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	line-height: 1.3em;
}

h1 {
	font-size: 48px;
	margin-bottom: 20px;
    margin-top: 40px;
}

h2 {
    margin-bottom: 20px;
    margin-top: 35px;
	font-size: 34px;
}

h3 {
    margin-bottom: 15px;
    margin-top: 30px;
	font-size: 140%;
}

h4 {
    margin-bottom: 15px;
    margin-top: 30px;
	font-size: 120%;
}

h5 {
    margin-bottom: 15px;
	font-size: 100%;
}

h6 {
	margin-bottom: 15px;
	font-size: 90%;
}

.box_title,
#reply-title {
    margin: 0 0 40px;
    position: relative;
    text-align: center;
    color:#848484;
}

.box_title.comments_title,
#reply-title {
    margin: 0 0 20px;
}

	.box_title:before,
	#reply-title:before {
		content:"";
		background-color: #E5E5E5;
		height:1px;
		position: absolute;
		top:50%;
		width: 100%;
		left: 0;
	}

	.box_title h3,
	.box_title h4,
	#reply-title span {
		background-color: #FFFFFF;
	    -moz-box-sizing:border-box;
		-webkit-box-sizing:border-box;
		box-sizing:border-box;
	    font-weight: 900;
	    padding: 0 20px;
	    text-align: center;
	    text-transform: uppercase;
	    height: auto;
	    max-width: 80%;
	    line-height: 30px;
	    display: inline-block;
	    margin: auto;
	    position: relative;
	    letter-spacing: 1px;
	}

#home_widgets .box_title:before {
	background-color: #2E2F30;
}

#home_widgets .box_title h3 {
	background-color: #1B1C1E;
}

#footer_widgets .box_title h4 {
	background-color:#F9F9F9;
}

.post_title,
.box_title.widgettitle {
    margin-top: 0;
}

.post_title {
    margin-bottom: 40px;
    color:#848484;
    position: relative;
}

	.post_title:before {
		content:"";
		background-color: #E5E5E5;
		height:1px;
		position: absolute;
		top:50%;
		width: 100%;
		left: 0;
	}

	.post_title span {
		background-color: #FFFFFF;
	    -moz-box-sizing:border-box;
		-webkit-box-sizing:border-box;
		box-sizing:border-box;
	    font-weight: 900;
	    padding: 0 20px 0 0;
	    height: auto;
	    display: inline-block;
	    margin: auto;
	    position: relative;
	}

	.post_title a {
	    opacity: 1;
	    -webkit-transition: all .25s ease-in-out;
		-moz-transition: all .25s ease-in-out;
		-ms-transition: all .25s ease-in-out;
		-o-transition: all .25s ease-in-out;
		transition: all .25s ease-in-out;
	}

		.post_title a:hover {
		    text-decoration: none;
		    opacity: .8;
		}

#comments_closed {
    margin: 30px 0 20px;
    text-align: center;
}

#leavecomment {
    margin-top: 0
}

#commentform.edd-reviews-must-log-in {
	margin: 0px auto 0;
	max-width: 100%;
	width: 100%;
	text-align: center;
	border:2px solid #e0e0e0;
	padding: 20px;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}
	#commentform.edd-reviews-must-log-in p {
		margin: 0;
	}

	#commentform.edd-reviews-must-log-in input[type="text"],
	#commentform.edd-reviews-must-log-in input[type="password"],
	#commentform.edd-reviews-must-log-in input[type="submit"] {
		width: 100%;
	}

/* ============================================== MAIN DIV'S ============================================== */

#site_wrap {
	width: 100%;
	overflow-x: hidden;
}

.wrapper {
	margin: 0 auto;
	width: 100%;
}

.container {
	width: 100%;
	max-width:1140px;
	padding: 0 10px;
	margin:auto;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}

#content {
	background-color: #FFFFFF;
}

	#content .container {
		padding-top:80px;
		padding-bottom:80px;
	}

	.single-download #content .container {
		padding-bottom: 0;
	}

/* ============================================== HEADER ============================================== */

#header,
body.page-template-page-login-php {
	background-repeat: no-repeat;
	background-position: center top;
	background-attachment: scroll;
	background-color: #1B1C1E;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
    position: relative;
    padding:0;
    margin:0;
    margin: 0 auto;
	padding: 0;
}

body.page-template-page-login-php #content {
	 background-color: transparent;
}

#header {
	text-align: center;
}

#header.light_scheme {
	background-color:#E7E7E7;
}

#header_inner {
	padding:150px 0;
}

	#header_inner.dark_text {
		color:#454545;
	}

	#header_inner.light_text {
		color:#FFFFFF;
	}

	#header_inner.search_result_header {
		padding: 75px 0;
	}

	#header_inner h2,
	#header_inner h1.sitename_logo a {
		color:#FFFFFF;
		font-weight: 300;
		margin:0;
	}

		#header_inner.dark_text h2,
		#header_inner.dark_text h1.sitename_logo a {
			color:#454545;
		}

	#header_inner h1.sitename_logo,
	#header_inner #logo {
		margin-bottom: 20px;
		margin-top: 0;
		text-align: center;
	}

	#header_inner .searchform {
		margin: 50px auto 0;
	}

		#header_inner .searchform .search_input {
			margin: auto;
			height: 40px;
			line-height: 40px;
			padding: 0 10px;
			width: 70%;
			background-color: #FFFFFF;
			border:none;
			-webkit-border-radius: 2px;
			-moz-border-radius: 2px;
			border-radius: 2px;
			-webkit-box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, .5);
			-moz-box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, .5);
			box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, .5);
		}

#logo {
	margin: auto;
	height: auto !important;
}

#logo_wrap {
	float: left;
	margin-right: 20px;
}

	#logo_wrap #logo {
		display: block;
		max-height: 44px;
		width: auto;
	}

	#logo_wrap h1.sitename_logo {
		margin: 0;
		font-size: 30px;
		line-height: 44px;
	}

		#logo_wrap h1.sitename_logo a {
			color:#FFFFFF;
			font-weight: 300;
		}
		
		.light_scheme #logo_wrap h1.sitename_logo a {
			color:#606060;
		}

#header_inner .retina_logo {
	display: none;
}

#head_cart:before {
	font-family: "FontAwesome";
	content: "\f07a";
	margin-right: 5px;
	font-weight: normal;
}

#head_cart > span {
	display: inline-block;
	min-width: 55px;
	text-align: right;
}

#stocky_login_register:before {
	font-family: "FontAwesome";
	content: "\f18e";
	margin-right: 5px;
	font-weight: normal;
}

#stocky_logout:before {
	font-family: "FontAwesome";
	content: "\f011";
	margin-right: 5px;
	font-weight: normal;
}

#search_toggle {
	float: left;
	margin-right: 10px;
	display: block;
}

	#search_toggle:before {
		font-family: "FontAwesome";
		content:'\f002';
		display: block;
		height: 44px;
		width: 30px;
		text-align: left;
		font-weight: normal;
	}

#search_wrap {
	display: none;
	width: 100%;
	margin: 0;
	float: left;
}

	#search_wrap .search_input {
		height: 34px;
		line-height: 34px;
		margin: 15px 0 8px;
		padding: 10px;
		width: 100%;
		border:none;
		-webkit-box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.5);
		-moz-box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.5);
		box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.5);
		background-color: #FFFFFF;
		-webkit-transition: all .2s linear;
		-moz-transition: all .2s linear;
		-ms-transition: all .2s linear;
		-o-transition: all .2s linear;
		transition: all .2s linear;
		-webkit-border-radius: 0px;
		-moz-border-radius: 0px;
		border-radius: 0px;
		-webkit-appearance: none;
	}

	#search_wrap #s:focus {
		color:#D3D3D3;
	}
	
.light_scheme #search_wrap .search_input {
	-webkit-box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.05);
	box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.05);
}

/* ============================================== MENUS ============================================== */

/* Hide the mobile menu */
select.select-menu,
span.select {
	display: none;
}

#header.light_scheme #menu_wrap,
#header.light_scheme #main_menu {
	background-color: #E7E7E7;
	background-color: rgba(255, 255, 255, 0.4);
}

#menu_wrap {
	height:auto;
	line-height: 44px;
	padding:8px 9999px;
	margin:0 -9999px;
	background-color: #13110F;
	background-color: rgba(0,0,0,.75);
	text-align: left;
	width: 100%;
}

	#menu_wrap a {
		color:#D3D3D3;
	}
	
	.light_scheme #menu_wrap a {
		color:#606060;
	}

	#menu_wrap .menu {
		float:left;
	}

	#menu_wrap #cart_links {
		float:right;
	}

		#menu_wrap #cart_links ul,
		#menu_wrap #cart_links ul li {
			float: left;
		}

		#menu_wrap #cart_links ul li {
			margin-left: 20px;
		}

#menu_toggle {
	float: left;
	margin-right: 10px;
}

	#menu_toggle:before {
		font-family: "FontAwesome";
		content:'\f0c9';
		display: block;
		height: 44px;
		width: 30px;
		text-align: left;
		font-weight: normal;
	}

#main_menu {
    line-height: 30px;
    display: none;
    position: relative;
    z-index: 999;
    width: 100% !important;
    padding:0 9999px;
    margin:0 -9999px;
    background-color: #13110F;
	background-color: rgba(0,0,0,.75);
}
#main_menu.expanded {
	display: block;
}

    #main_menu .container {
        padding: 0;
        position: relative;
        border-bottom: 1px solid #E5E5E5;
    }

    #main_menu ul {
        margin: 0;
        padding: 0;
    }

        #main_menu ul li {
            margin: 0 30px 0 0;
            padding: 0 0 0;
            float: left;
        }

        	#main_menu > div > ul > li {
	            padding-bottom: 10px;
	        }

        #main_menu ul ul li {
            float: none;
        }

    #main_menu a {
        display: block;
        line-height: 40px;
        padding: 0;
        margin: 0;
        color: #909090;
    }
    
	    .light_scheme #main_menu a {
		    color:#606060;
	    }

    #main_menu a:hover,
    #main_menu li.current-menu-item > a,
    #main_menu li.current_page_item > a,
    #main_menu li.current_page_parent > a,
    #main_menu li.current-menu-parent > a,
    #main_menu li.current-menu-ancestor > a,
    #main_menu li.current_page_ancestor > a {
        color: #FCFCFC;
        text-decoration: none;
    }
    
    .light_scheme #main_menu a:hover,
    .light_scheme #main_menu li.current-menu-item > a,
    .light_scheme #main_menu li.current_page_item > a,
    .light_scheme #main_menu li.current_page_parent > a,
    .light_scheme #main_menu li.current-menu-parent > a,
    .light_scheme #main_menu li.current-menu-ancestor > a,
    .light_scheme #main_menu li.current_page_ancestor > a {
	    color: #000000;
    }

/* DROP DOWN MENUS */

    #main_menu li li {
        padding: 10px;
        margin: 0;
        width: 170px;
        position: relative;
        display: none;
    }

    	#main_menu li li a {
	    	position: relative;
    	}

    #main_menu li:hover li a {
        border: none;
        background: none;
        width: auto;
    }

    #main_menu ul li {
        position: relative
    }

    	#main_menu ul li:hover > ul,
    	#main_menu ul li:hover > ul li {
	    	display: block;
	    	opacity: 1;
	    	-webkit-transition: all .2s linear;
			-moz-transition: all .2s linear;
			-ms-transition: all .2s linear;
			-o-transition: all .2s linear;
			transition: all .2s linear;
    	}

        #main_menu ul li ul {
            width: auto;
            text-align:left;
            display: block;
            opacity: 0;
            margin: 0 0 0 -10px;
            padding: 0;
            z-index: 900;
            float: none;
            height: auto;
            position: absolute;
            top: 50px;
            background-color: #292929;
        }
        
        	.light_scheme #main_menu ul li ul {
	        	background-color:#F2F2F2;
        	}

        	#main_menu > div > ul > li > ul:after {
        		bottom: 100%;
        		left: 10px;
        		border: solid transparent;
        		content: " ";
        		height: 0;
        		width: 0;
        		position: absolute;
        		pointer-events: none;
        		border-color: rgba(0, 0, 0, 0);
        		border-bottom-color: #292929;
        		border-width: 10px;
        	}
        	
        		.light_scheme #main_menu > div > ul > li > ul:after {
	        		border-bottom-color: #F2F2F2;
        		}

        	#main_menu ul ul ul {
	        	top:0;
	        	left: 180px;
        	}

            #main_menu ul li ul li:hover ul {
                display: block;
                left: 200px;
            }

            #main_menu ul li ul li {
                position: relative;
                float: none;
                border-top-style: dotted;
                border-top-width: 1px;
                border-top-color: #141414;
                border-top-color: rgba(0, 0, 0, 0.5);
            }
            
	            .light_scheme #main_menu ul li ul li {
		            border-top-color: rgba(204, 204, 204, 0.5);
	            }

            #main_menu ul li ul li:first-child {
                border: none
            }

    #main_menu ul li ul li a:hover {
        border: none
    }

/* ============================================== FRONT PAGE ============================================== */

#home_widgets {
	background-color: #1B1C1E;
	color: #B1B1B1;
	padding: 40px 9999px 10px;
	margin:-80px -9999px 80px;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-align: center;
	width: 100%;
}

	#home_widgets a {
		color: #B1B1B1;
		margin: 5px 10px;
	}

		#home_widgets a:hover {
		    color: #FFFFFF;
		}

		#home_widgets li a:hover {
		    background-color: #302D2D;
		    padding: 5px 10px;
		    margin:0;
		}

	#home_widgets .widget {
	    float: left;
	    padding: 0;
	    margin-right: 2.6785714285714284%;
	    margin-bottom: 2.6785714285714284%;
	}

#home_widgets.widget_count1 .widget {
    width: 100%;
    margin-right:0;
}

#home_widgets.widget_count2 .widget {
    width: 48.214285714285715%
}

#home_widgets.widget_count3 .widget,
#home_widgets.widget_count_overflow .widget {
    width: 31.25%;
    margin-right: 3.125%;
}

	#home_widgets.widget_count_overflow .widget:nth-child(1n+4) .box_title.widgettitle {
		margin-top: 30px;
	}

#home_widgets.widget_count4 .widget {
    width: 22.321428571428573%;;
    margin-right: 3.571428571428571%;
}

	#home_widgets.widget_count2 .widget:nth-child(2),
	#home_widgets.widget_count3 .widget:nth-child(3),
	#home_widgets.widget_count_overflow .widget:nth-child(3n),
	#home_widgets.widget_count4 .widget:nth-child(4) {
		margin-right: 0;
	}

		#home_widgets.widget_count_overflow .widget:nth-child(3n+1) {
			clear:both;
		}

#home_cta {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
    position: relative;
    padding: 100px 0;
    background-position: center center;
    text-align: center;
    font-size: 18px;
}

	#home_cta .button {
		margin-top: 30px;
	}

#home_latest_posts .container {
	max-width: 100%;
	padding: 0;
}

#home_latest_posts article {
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	width: 33.33333333333333%;
	float: left;
	color:#FFFFFF;
	position: relative;
	overflow: hidden;
}

	#home_latest_posts article .latest_bg_img {
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	    background-position: center top;
	    position: absolute;
	    top:0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    display: block;
	    z-index: 1;
		transition-delay: 0s, 0s, 0s;
	    transition-duration: 2s;
	    transition-property: transform, filter;
	    transition-timing-function: ease-in-out, ease-in-out, ease-in-out;
    }

		#home_latest_posts article:hover .latest_bg_img {
			-webkit-transform: scale(1.1);
			-moz-transform: scale(1.1);
			-ms-transform: scale(1.1);
			-o-transform: scale(1.1);
			transform: scale(1.1);
		}

	#home_latest_posts .post_content {
		background: rgba(0,0,0,.5);
		padding: 6.25%; /* 40 / 640 */
		-moz-box-sizing:border-box;
		-webkit-box-sizing:border-box;
		box-sizing:border-box;
		min-height: 380px;
		position: relative;
		z-index: 2;
	}

	#home_latest_posts article .latest_content {
		-moz-box-sizing:border-box;
		-webkit-box-sizing:border-box;
		box-sizing:border-box;
		position: absolute;
		margin:6.25%;
		left: 0;
		bottom:0;
	}

		#home_latest_posts article .latest_content p {
			margin: 0;
			font-weight: 300;
		}

	#home_latest_posts article a {
		color: #FFFFFF;
	}

.latest_date {
    font-size: 0.8em;
    font-weight: 300;
}

.latest_post_title {
	padding:20px 0 40px;
	position: relative;
	margin: 0;
	font-weight: 400;
}

	.latest_post_title:after {
		content:"";
		width: 25%;
		height: 1px;
		background-color: #FFFFFF;
		display: block;
		position: absolute;
		bottom:20px;
	}

	.latest_post_title a {
		border-bottom: 1px dashed transparent;
	}

		.latest_post_title a:hover {
			border-color: #FFFFFF;
		}

/* ============================================== IMAGE GRIDS ============================================== */

#image_grid,
.edd_downloads_list {
	width: 100%;
	position: relative;
}

.edd_downloads_list .edd_download {
	width: 25% !important;
	display: block;
	padding: .4464285714285714%; /* 5px / 1120 */
	float: left !important;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}

	#image_grid.latest_products .edd_downloads_list .edd_download,
	.page-template-page-vendor-php .edd_downloads_list .edd_download,
	#image_grid.has_sidebar .edd_downloads_list .edd_download,
	.posts-wrap #image_grid .edd_downloads_list .edd_download {
		width: 33.3333333333% !important;
		padding: .641025641025641%; /* 5 / 780 */
	}

#image_grid.latest_products {
	margin-top: 40px;
}

.edd_downloads_list .edd_download .edd_download_inner {
	padding: 0;
	margin: 0;
	overflow: hidden;
	position: relative;
}

.edd_downloads_list .edd_download .edd_download_inner a,
.edd_downloads_list .edd_download .edd_download_inner a img {
	display: block;
}

.stocky_hover_details {
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: #151515;
	opacity: 0;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-ms-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

	.edd_download_image:hover .stocky_hover_details {
		opacity: .8;
	}

.stocky_hover_lines {
	display: block;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-transition: opacity 0.35s, transform 0.35s;
	-moz-transition: opacity 0.35s, transform 0.35s;
	-ms-transition: opacity 0.35s, transform 0.35s;
	-o-transition: opacity 0.35s, transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(0);
	transform: scale(0);
	opacity: 0;
	border: 1px solid #FFFFFF;
	border:1px solid rgba(255, 255, 255, 0.30);
	margin: 10px;
	height: calc(100% - 20px);
	width: calc(100% - 20px);
}

	.edd_download_image:hover .stocky_hover_lines {
		-webkit-transform: scale(1);
		transform: scale(1);
		opacity: 1;
	}

.dcs_view_details {
	color: #FFFFFF;
	border: 3px solid #FFFFFF;
	display: inline-block !important;
	padding: 5px 10px;
	width: auto;
	height: 45px;
	width: 130px;
	text-align: center;
	position: absolute;
	top:50%;
	left:50%;
	margin:-22.5px 0 0 -65px;
	font-size: .8em;
	text-transform: uppercase;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}

	.dcs_view_details:hover {
		background-color:#FFFFFF;
		color:#151515;
	}

.stocky_wish_list_on .dcs_view_details {
	margin:-40px 0 0 -65px;
}

.stocky_hover_details .edd-wl-button {
    display: inline-block !important;
    font-size: 0.8em;
    height: auto;
    left: 50%;
    margin: 20px 0 0 -75px !important;
    padding: 0;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 50%;
    width: 150px;
	border:0;
	background-color: transparent;
	color:#B1B1B1;
	line-height: 20px;
}

	.stocky_hover_details a.edd-wl-action.edd-wl-button:hover {
		color:#FFFFFF;
		background-color: transparent !important;
	}

#edd-wl-modal input[type="email"],
#edd-wl-modal input[type="text"],
input#list-title {
	height: auto;
	padding: 10px;
}

.edd-wl-button,
.modal-content {
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	border-radius: 0 !important;
}

.edd-wl-delete-list {
	text-transform: uppercase;
	font-size: .6em;
	color:#777777;
	border: 3px solid #E4E4E4;
	padding: 5px 10px;
}

	.edd-wl-delete-list:hover {
		color: #BA2D2D;
		border-color: #BA2D2D;
	}

ul.edd-wish-list {
	margin: 0 0 10px;
}

.edd-wish-list li {
	padding: 10px 0 !important;
	margin-left:0 !important;
	list-style: none !important;
	line-height: 1em !important;
	font-size: 1em !important;
	position: relative;
}

	ul.edd-wish-list li span.edd-wl-item-title {
		width: 60%;
		position: initial;
	}

.edd-wl-item-title > * {
	display: inline-block !important;
	vertical-align: middle;
	width: 30%;
	margin-right: 5%;
}
	
	.edd-wl-item-title > *:last-child {
		margin-right: 0;
	}
	
	.edd-wl-item-title .edd-wl-item-image:nth-child(2) {
		margin-left: 35%
	}
	
	.edd-wl-item-title .edd-wl-item-purchased {
		position: absolute;
		bottom: 10px;
		right: 0;
		width: 21%;
		margin:0;
		text-align: center;
		font-size: .8em;
	}

.edd-wl-item-image {
	margin-right: 20px
}

.edd-wl-item-image,
edd-wl-item-image img {
	display: block
}

p.edd-variable-pricing-desc {
	color: #9D9D9D;
    margin: 0 0 0 25px;
}

.stocky_wish_list_page h3,
.stocky_wish_list_view_page h3 {
	margin:40px 0 20px;
}

a.edd-wl-action.edd-wl-button {
	border-color:#E0E0E0 !important;
	padding: 12px 0 !important;
}

	a.edd-wl-action.edd-wl-button.edd-wl-add-all-to-cart,
	.stocky_wish_list_page a.edd-wl-action.edd-wl-button {
		padding: 12px !important;
	}

.edd_download_purchase_form a.edd-wl-action.edd-wl-button {
	text-transform: uppercase;
	font-size: 14px;
	width: 100%;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	border-width: 3px;
	padding: 12px;
	font-weight: 700;
	letter-spacing: 1px;
	background-color: transparent;
}

	.edd_download_purchase_form a.edd-wl-action.edd-wl-button:hover {
		background-color:#E0E0E0;
		color:#444444;
	}

a.edd-wl-action.edd-wl-button:hover {
    background-color: #e0e0e0 !important;
}

.stocky-wish-list .edd-wl-item-title > a {
	display: none;
}

.stocky_edit_wishlist {
	text-align: right;
}

	.stocky_edit_wishlist a {
		text-transform: uppercase;
		font-size: .8em;
		color:#777;
	}

		.stocky_edit_wishlist a:before {
			content:"\f044";
			font-family: "FontAwesome";
			margin-right: 5px;
			font-weight: normal;
		}

/* ============================================== DOWNLOADS ============================================== */

.edd_purchase_submit_wrapper a.button {
	width: 100%;
	padding: 8px;
}

.single-download #edd_meta_bar .edd_download_purchase_form {
	margin: 0;
}

#edd_meta_bar {
    margin:40px 0 0;
    position: relative;
    zoom: 1;
    text-align: left;
    font-size: 14px;
}

#product_meta_wrap {
	width: 100%;
	font-size: 13px;
}

.single-product-meta {
    letter-spacing: 1px;
    padding: 0;
    text-transform: uppercase;
}

	.single-product-meta:first-child {
		margin-bottom: 20px;
	}

	.single-product-meta span {
		display: block;
		margin:0;
		padding:0;
	}

	.single-product-meta a {
		color: #B1B1B1;
		margin: 0 10px 0 0;
		padding:0 0 4px;
		display: inline-block;
		border-bottom: 1px dotted transparent;
		line-height: 1em;
	}

		.single-product-meta a:hover {
		    color: #454545;
			border-color: #454545;
		}

#product_info {
	width: 100%;
}

	#product_info .avatar {
		width: 16.666666666666666%;
		height: auto;
		float: left;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		border-radius: 50%;
	}

#sidebar .reviewRating {
	border:1px solid #E0E0E0;
	padding: 15px 20px 20px;
	font-size: 13px;
	text-transform: uppercase;
}

#sidebar .edd_reviews_rating_box {
	float: none;
	margin: 0 auto;
	line-height: 30px;
	height: auto !important;
	text-align: center;
}

#post_user {
	line-height: 25px;
	width: 80%;
	float: right;
}

#product_pricing {
	width: 100%;
	font-size: 0.9em;
}

	#product_pricing .edd_download_purchase_form .edd_price_options ul {
		border-top:1px solid #E3E3E3;
	}

	#product_pricing .edd_download_purchase_form .edd_price_options li {
		padding: 10px 0;
		border-bottom:1px solid #E3E3E3;
	}

#main_product_image,
#main_product_image img {
	display: block;
	margin: auto;
}

#extra-images {
	width: calc(100% + 20px);
}

.single_extra_image {
	width:17.94871794871795%;
	margin:2.564102564102564% 2.564102564102564% 0 0; /* 20 / 780 */
	float: left;
	position: relative;
}

	.single_extra_image:nth-child(5n) {
		margin-right: 0;
	}

	.single_extra_image .preview {
		opacity: 0;
		position: absolute;
		top:0;
		left:0;
		width: 100%;
		height: 100%;
		overflow: hidden;
		background-color: #151515;
		opacity: 0;
		-webkit-transition: all .2s linear;
		-moz-transition: all .2s linear;
		-ms-transition: all .2s linear;
		-o-transition: all .2s linear;
		transition: all .2s linear;
	}

		.single_extra_image .preview .fa-search-plus {
			color:#FFFFFF;
			font-size: 2em;
			display: block;
			text-align: center;
			height: 32px;
			top:50%;
			margin-top: -16px;
			position: absolute;
			left: 0;
			width: 100%;
		}

		.single_extra_image:hover .preview {
			opacity: .8;
		}

	.single_extra_image a,
	.single_extra_image img {
		display: block;
		float: left;
		max-width: 100%;
	}

#single_item_wrap {
	background-color:#F9F9F9;
	padding:40px 9999px 0;
	margin:-80px -9999px 80px;
}

	#single_item_wrap #sidebar > div {
		margin-bottom: 40px;
	}

#product_images {
	text-align: center;
	margin-bottom: 40px;
}

#product_content {
	margin: 80px 0;
}

.product_title {
	padding: 40px;
}

.edd-cart-added-alert {
	width: 100%;
	text-align: center;
}

.related_products_wrap {
	margin-bottom: 80px;
}

	.related_products_wrap .box_title {
		margin-bottom: 20px;
	}

	.related_products_wrap .single_related {
		width: 	10.9375%;
		margin-right: 1.7857142857142856%;
		margin-bottom: 1.7857142857142856%;
		float: left;
	}

		.related_products_wrap .single_related img {
			width: 100%;
		}

		.related_products_wrap .single_related a {
			display: block;
			opacity: 1;
		}

			.related_products_wrap .single_related a:hover {
				opacity: .7;
			}

		.related_products_wrap .single_related:nth-child(8n) {
			margin-right: 0;
		}

#portfolio_link {
	display: block;
	border:3px solid #E0E0E0;
	text-transform: uppercase;
	font-size: 14px;
	width: 100%;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	border-width: 3px;
	padding: 12px 5px;
	text-align: center;
	color:#777;
	background-color:transparent;
	line-height: 1.42857em;
	-webkit-transition: all .15s linear;
	-moz-transition: all .15s linear;
	-ms-transition: all .15s linear;
	-o-transition: all .15s linear;
	transition: all .15s linear;
}

	#portfolio_link:hover {
		background-color:#E0E0E0;
		color:#444444;
	}

	#portfolio_link:after {
		content:"\f105";
		display: inline-block;
		font-family: "FontAwesome";
		margin-left: 5px;
		font-weight: normal;
	}

/* ====================== Download EXIF data ============================ */

#product_exif {
	width: 100%;
	font-size: 13px;
}

	#product_exif > .single-product-meta > span {
		margin-bottom: 5px;
	}

	#product_exif > .single-product-meta > div {
		line-height: 1.5em;
		width: 100%;
		float: left;
	}

	#product_exif .label {
		font-weight: bold;
		width: 48.333333333333334%; /* 145 / 300 */ 
		display: inline-block;
		font-size: 13px;
		float: left;
	}

	#product_exif .value {
		display: inline-block;
		font-size: 13px;
		float: right;
		width: 48.333333333333334%; /* 145 / 300 */ 
	}

/* ============================================== RATINGS ============================================== */

#stocky_reviews {
	margin-top: 80px;
}

.edd_reviews_rating_box {
	background-image: none !important;
	position: relative;
	height: 30px !important;
	width: 150px !important;
	display: block;
}

.reviewRating {
	display: block;
}

.edd_reviews_rating_box p,
.edd_reviews_rating_box br {
	display: none;
}

.edd_reviews_rating_box {
	display: block;
	clear:both;
}

.edd_reviews_rating_box span,
.edd_reviews_rating_box a {
	font-size: 25px;
}

.edd_reviews_rating_box,
.edd_reviews_rating_box a {
	background-image: none !important;
}

.edd_reviews_rating_box a {
	height: 30px;
	width: 30px;
}

.comment_form_rating .edd_reviews_rating_box a i {
	font-style: normal;
}

.comment_form_rating .edd_reviews_rating_box a:hover ~ a i:before,
.comment_form_rating .edd_reviews_rating_box a:hover i:before,
.comment_form_rating .edd_reviews_rating_box a.active ~ a i:before,
.comment_form_rating .edd_reviews_rating_box a.active i:before {
	color: #EEC72E;
}

.icon-star,
.icon-star-empty {
	position: relative;
	display: inline-block;
	width: 30px;
	height: 30px;
	line-height: 30px;
	font-size: 25px;
	margin: 0;
	text-align: center;
	float: left;
}

	.icon-star-full:before {
		font-family: "FontAwesome";
		content:"\f005";
		color:#EEC72E;
		font-weight: normal;
	}

	.icon-star-empty:before {
		font-family: "FontAwesome";
		content:"\f005";
		color:#D3D3D3;
		font-weight: normal;
	}

.edd-review-vote {
	padding: 15px 20px 20px;
	background-color: #F9F9F9;
}

	.edd-review-vote .edd-review-voting-feedback + p,
	.edd-review-vote p {
		font-size: 14px;
		margin-bottom: 10px;
	}

.edd-reviews-voting-buttons a {
	display: inline-block;
    line-height: 25px;
    margin: 0 10px 0 0;
    padding: 0 10px;
    text-transform: uppercase;
}

/* ========================================== EDIT PROFILE =========================================== */

#edd_profile_editor_form fieldset {
	border: none;
}

	#edd_profile_editor_form legend {
		font-size: 20px;
		font-weight: bold;
	}

	#edd_profile_editor_form #edd_profile_billing_address_label legend {
		margin-top: 35px;
	}


/* ============================================== POSTS ============================================== */

.posts-wrap {
    width: 69.64285714285714%;
    float: left;
}

.content_right .posts-wrap {
    float: right
}

.about_the_author {
    padding: 20px;
    margin: 0 0 40px;
    border: 3px solid #E0E0E0;
    color: #848484;
    position: relative;
}

    .about_the_author .avatar {
        -webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		border-radius: 50%;
        margin-right: 5.128205128205128%;
        float: left;
        height:auto;
        width: 12.82051282051282%;
        -moz-box-sizing:border-box;
		-webkit-box-sizing:border-box;
		box-sizing:border-box;
    }

	.about_the_author .author_info {
	    float: left;
	    width: 82.05128205128205%;
	}

h3.author_title {
    margin: 0 0 10px;
    text-transform: uppercase;
    font-size: 1em;
}

.meta,
.additional-meta,
.post_meta,
.single-meta {
    font-size: .8em;
    color: #737373;
    line-height: 15px;
}

.meta {
    margin: 0 0 15px
}

.post_meta {
    margin: -30px 0 30px;
    line-height: 25px;
}

.meta_block {
    float: left;
    margin: 10px 40px 0 0;
    padding-left: 35px;
    position: relative;
}

    .meta_block:before {
	    font-family: "FontAwesome";
	    left: 0;
	    position: absolute;
	    text-align: center;
	    top: 0;
	    width: 35px;
	    font-weight: normal;
	}

	.meta_block.block-tags {
		float: none;
		margin-bottom: 40px;
		line-height: 25px;
		font-size: .8em;
		color:#737373;
	}

	.meta_block a {
		color: #454545;
	}

	.meta_block .avatar {
	    border-radius: 20px;
	    height: 25px;
	    left: 0;
	    position: absolute;
	    top: 0;
	    width: 25px;
	}

.block-category:before {
	content:"\f00b";
	top:1px;
}

.block-comments:before {
	content:"\f086";
}

.block-date:before {
	content:"\f073"
}

.block-tags:before {
	content:"\f02b"
}

.post_content {
    position: relative
}

.blog-home-post {
    position: relative;
    margin: 0 0 80px;
}

.blog-single-post {
    position: relative;
    margin: 0 0 40px;
}

a.more-link {
    display: inline-block;
    margin-top: 15px;
    text-align: center;
    padding: 5px 10px;
    line-height: 1.5em;
    font-size: .9em;
    text-transform: uppercase;
    border-width: 3px;
    border-style: solid;
}

	a.more-link:after {
		content: "\f105";
		display: inline-block;
		font-family: "FontAwesome";
		margin-left: 5px;
		font-weight: normal;
	}

/* ============================================== ARCHIVE ============================================== */

.post-archive {
    padding: 20px 0 20px 70px;
    position: relative;
    min-height: 50px;
    line-height: 25px;
    border-bottom: 1px dashed #E7E7E7;
}

    .post-archive .archive_image_link {
        display: block;
        position: absolute;
        top: 20px;
        left: 0;
        padding: 1px;
        height: 46px;
        width: 46px;
        background-color: #FFFFFF;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        z-index: 1;
        border: 1px solid #C5C5C5;
    }

h4.archive-entry-title {
    margin: 0;
    line-height: 25px;
}

.archive-meta {
    font-size: 11px;
    color: #555555;
}

/* ============================================== SIDEBARS ============================================== */

#sidebar {
    width: 26.785714285714285%;
    float: right;
}

    #sidebar .box_title.widgettitle {
        margin-bottom: 20px;
    }

.content_right #sidebar {
    float: left
}

#sidebar .widget {
    margin: 0 0 40px
}

.searchform {
    position: relative
}

.specific_user {
	text-align: center;
}

.featured_user .avatar {
    height: auto;
    display: block;
    margin: 0 auto;
    position: relative;
    width: 100px;
    max-width: 100%;
    -webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

.featured_user_name {
	display: block;
	margin: 20px 0 15px;
}

#calendar_wrap,
#wp-calendar {
    width: 100%;
    text-align: center;
}

    #calendar_wrap caption {
        margin: 0 0 10px
    }

    #calendar_wrap tbody td {
	    padding: 3px 0;
    }

	    #calendar_wrap tbody td a {
			background-color: #EBEBEB;
			border-radius: 12px;
			display: block;
			height: 24px;
			margin: auto;
			width: 24px;
	    }

#sidebar .widget li {
    padding: 10px 0;
    border-top: 1px solid #E5E5E5;
}

#sidebar .widget li:first-child {
    border: none;
    padding: 0 0 10px;
}

#sidebar .widget li:last-child {
    padding: 10px 0 0
}

#recent_products {
    width: 100%;
}

	#recent_products:hover img {
		opacity: .5;
	}

		#recent_products img:hover {
			opacity: 1;
		}

    #recent_products a {
        display: inline-block;
        float: left;
        width: 24%;
        margin: 1.3333333333% 1.3333333333% 0 0;
        height: auto;
        background-color: #F5F5F5;
    }

    	#recent_products a:nth-child(4n) {
	        margin-right: 0;
	    }

    #recent_products img {
        height: 100%;
        width: 100%;
        -webkit-transition: all .3s linear;
		-moz-transition: all .3s linear;
		-ms-transition: all .3s linear;
		-o-transition: all .3s linear;
		transition: all .3s linear;
		display: block;
    }

.widget ul.children {
	padding-top: 5px;
}

.widget ul li {
	margin: 0;
	padding: 5px 0;
}

	.widget ul li li {
		margin-left: 15px;
	}

		.widget ul li li:last-child {
			padding-bottom: 0;
		}

.widget .cart_item.empty {
	padding: 0 !important;
	text-align: center;
}

	.widget .cart_item.empty .edd_empty_cart {
	    font-weight: 900;
	    line-height: 30px;
	    text-transform: uppercase;
	    color:#848484;
	}

.widget .cart_item.edd_checkout a {
	width: 100%;
	text-align: center;
	padding: 5px 10px !important;
}

.widget .edd-cart {
	padding: 20px;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	border:1px solid #E0E0E0;
	font-size: .8em;
	background-color:#FFFFFF;
}

	.widget .edd-cart li {
		position: relative;
	}

	.widget .edd-cart li.edd-cart-item {
		padding-right: 30px !important;
	}

		.widget .edd-cart li.edd-cart-item .edd-cart-item-separator:nth-child(4) {
			display: none;
		}

		.widget .edd-cart li.edd-cart-item .edd-cart-item-price {
			font-weight: bold;
		}

	.widget .edd-cart .subtotal {
		float: right;
	}

	.widget .edd-cart .edd-remove-from-cart {
		font-size: 0;
		position: absolute;
		right:0;
		top:10px;
	}

		.widget .edd-cart li:first-child .edd-remove-from-cart {
			top:0;
		}

		.widget .edd-cart .edd-remove-from-cart:before {
			font-size: 18px;
			color: #CD3A18;
			content:"\f057";
			font-family: "FontAwesome";
			font-weight: normal;
		}

.widget .edd-cart-number-of-items {
	display: none;
}

.edd_featured_reviews .edd-review-content {
	font-style: oblique;
    margin: 20px 0 15px;
    font-size: 18px;
    line-height: 25px;
    padding-left: 25px;
    border-left: 3px solid #737373;
    color:#737373;
    font-size: .9em;
}

.edd_featured_reviews .edd-featured-review-h-card .avatar {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	width: auto;
	height: auto;
	max-width: 60px;
	margin: 25px auto 15px;
	display: block;
}

.edd_featured_reviews .edd-featured-review-h-card > p {
	margin: 0;
	font-size: .9em;
	text-align: center;
}

	.edd_featured_reviews .edd-featured-review-h-card > p:nth-child(2) {
		font-weight: bold;
	}

.edd_featured_reviews .edd_reviews_rating_box {
	display: none;
}

.edd_featured_reviews .edd-review-dateline {
	text-align: right;
	font-size: .8em;
	color:#848484;
}

/* ============================================== 404-PAGE ============================================== */

.stocky_404,
.no_search_results {
	text-align: center;
	margin: 80px 0;
}

.no_search_results .searchform input {
	width: 100%;
	margin-top: 30px;
}

/* ============================================== CONTACT-PAGE ============================================== */

#stocky_contact_info {
	overflow: hidden;
	width: 100%;
	font-size: 1.5em;
	font-weight: 300;
}

#stocky_contact_inner {
	float:left;
	position: relative;
	left:50%;
}

#stocky_contact_inner > div {
	float:left;
	position: relative;
	right:50%;
	padding:5px 40px 5px 30px;
	text-align: left;
}

	#stocky_contact_inner > div:before {
		font-family: "FontAwesome";
		font-weight: normal;
		position: absolute;
		left: 0;
		top:5px;
	}

	#stocky_contact_inner > div.contact-address:before {
		content:"\f041";
		left: 5px;
	}

	#stocky_contact_inner > div.contact-phone:before {
		content:"\f095";
	}

/* ============================================== FOOTER ============================================== */

#footer {
	overflow: hidden;
	margin: auto;
	clear: both;
	float: none;
	padding: 80px 0 0;
	background-color:#F9F9F9;
}

#footer_widgets {
    position: relative;
    zoom: 1;
    text-align: center;
    padding-bottom: 100px;
}

.footer_widget {
    float: left;
    padding: 0 0 80px;
    margin-right: 2.6785714285714284%;
}

.footer_widget_count1 .footer_widget {
    width: 100%;
    margin:0;
}

.footer_widget_count2 .footer_widget {
    width: 48.214285714285715%
}

.footer_widget_count3 .footer_widget,
.footer_widget_overflow .footer_widget {
    width: 31.25%;
    margin-right: 3.125%;
}

.footer_widget_count4 .footer_widget {
    width: 22.321428571428573%;
    margin-right: 3.571428571428571%;
}

	.footer_widget_count2 .footer_widget:nth-child(2),
	.footer_widget_count3 .footer_widget:nth-child(3),
	.footer_widget_overflow .footer_widget:nth-child(3n),
	.footer_widget_count4 .footer_widget:nth-child(4) {
		margin-right: 0;
	}

#post_footer {
	background-color: #F2F2F2;
	padding: 60px 9999px;
	margin:-80px -9999px 0;
}

#footer_copy {
	text-align: center;
}

#footer_copy a {
	border-bottom: 1px dashed #B7B7B7;
    color: #454545;
    display: inline-block;
}

	#footer_copy a:hover {
		border-bottom: 1px dashed #454545;
	}

#credit_space {
	display: inline-block;
	margin: 0 10px;
}

#socnets_wrap {
	overflow: hidden;
	width: 100%;
	margin-bottom: 20px;
}

#socnets {
	float:left;
	position: relative;
	left:50%;
}

	#socnets a {
	    float: left;
	    position: relative;
	    right: 50%;
	    margin: 0 5px;
	    display: block;
	    color: #6D6D6D;
	    text-decoration: none;
	    -webkit-transition: all .25s linear;
		-moz-transition: all .25s linear;
		-ms-transition: all .25s linear;
		-o-transition: all .25s linear;
		transition: all .25s linear;
		background-color: transparent;
	}

	#socnets a:hover {
		background-color: #FEFEFE;
	}

	    #socnets a {
	        display: block;
	        font-size: 30px;
		    height: 40px;
		    width: 40px;
		    text-align: center;
	    }
	    
	    	#socnets a i {
		    	line-height: 40px;
		    	 -webkit-transition: all .25s linear;
				-moz-transition: all .25s linear;
				-ms-transition: all .25s linear;
				-o-transition: all .25s linear;
				transition: all .25s linear;
	    	}

		    #socnets a:hover .fa-twitter {
		        color: #00ACED
		    }

		    #socnets a:hover .fa-facebook {
		        color: #335795
		    }

		    #socnets a:hover .fa-google {
		        color: #DD4B39
		    }

		    #socnets a:hover .fa-flickr {
		        color: #FF0084
		    }

		    #socnets a:hover .fa-tumblr {
		        color: #668195
		    }

		    #socnets a:hover .fa-vimeo-square {
		        color: #0DADD6
		    }

		    #socnets a:hover .fa-youtube {
		        color: #D02525
		    }

		    #socnets a:hover .fa-pinterest {
		        color: #CB2027
		    }
		    
		    #socnets a:hover .fa-linkedin {
		        color: #0977b5
		    }

/* ============================================== COMMENTS & FORMS ============================================== */

input[type="radio"],
input[type="checkbox"],
.gform_wrapper ul.gfield_checkbox li input[type="checkbox"],
.gform_wrapper ul.gfield_radio li input[type="radio"] {
	margin-right: 10px;
	margin-top: 6px;
	margin-left: 1px;
}

input[type="submit"],
button[type="submit"],
.btn,
div.fes-form .fes-submit input[type="submit"],
a.button,
.widget .cart_item.edd_checkout a,
input.button,
.stocky_navigation a,
#edd-purchase-button,
.edd-submit,
input.edd-submit[type="submit"],
.edd-submit.button,
.edd-submit.button:visited {
    text-decoration: none;
    cursor: pointer;
    line-height: 28px;
    height: auto;
    padding: 5px 15px;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background-color:transparent !important;
    -webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
    display: inline-block;
    -webkit-appearance: none; /* Corrects inability to style clickable 'input' types in iOS */
    -moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	text-transform: uppercase;
	background-image:none;
	border-style: solid;
	border-width: 3px;
	-webkit-transition: all .15s linear;
	-moz-transition: all .15s linear;
	-ms-transition: all .15s linear;
	-o-transition: all .15s linear;
	transition: all .15s linear;
}

.edd-reviews-voting-buttons a.vote-yes,
.edd-reviews-voting-buttons a.vote-no {
    background-color:transparent !important;
    -webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
    display: inline-block;
    -webkit-appearance: none; /* Corrects inability to style clickable 'input' types in iOS */
    -moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	text-transform: uppercase;
	background-image:none;
	border-style: solid;
	border-width: 1px;
	margin-top: 5px;
	-webkit-transition: all .15s linear;
	-moz-transition: all .15s linear;
	-ms-transition: all .15s linear;
	-o-transition: all .15s linear;
	transition: all .15s linear;
}

input[type="submit"]:active,
button[type="submit"]:active,
.btn:active,
div.fes-form .fes-submit input[type="submit"]:active,
a.button:active,
a.more-link:active,
.widget .cart_item.edd_checkout a:active,
input.button:active,
.stocky_navigation a:active,
.edd-reviews-voting-buttons a.vote-yes:active,
.edd-reviews-voting-buttons a.vote-no:active,
#edd-purchase-button:active,
.edd-submit:active,
input.edd-submit[type="submit"]:active,
.edd-submit.button:active {
    opacity: .9;
	-webkit-transition: all .05s linear;
	-moz-transition: all .05s linear;
	-ms-transition: all .05s linear;
	-o-transition: all .05s linear;
	transition: all .05s linear;
	-webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
	-moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
	box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
}

.button_dark input[type="submit"]:hover,
.button_dark button[type="submit"]:hover,
.button_dark .btn:hover,
.button_dark div.fes-form .fes-submit input[type="submit"]:hover,
.button_dark a.button:hover,
.button_dark a.more-link:hover,
.button_dark .widget .cart_item.edd_checkout a:hover,
.button_dark .edd-reviews-voting-buttons a.vote-yes:hover,
.button_dark .edd-reviews-voting-buttons a.vote-no:hover,
.button_dark .fes-product-list-pagination-container a:hover,
.button_dark .stocky_navigation a:hover,
.button_dark #edd-purchase-button:hover,
.button_dark .edd-submit:hover,
.button_dark input.edd-submit[type="submit"]:hover,
.button_dark .edd-submit.button:hover,
.button_dark .edd-submit.button:visited:hover,
.button_dark .navigation a:hover,
.button_dark .navigation span.current,
.button_dark a.insert-file-row:hover {
    color:#505050 !important;
}

.button_light input[type="submit"]:hover,
.button_light button[type="submit"]:hover,
.button_light .btn:hover,
.button_light div.fes-form .fes-submit input[type="submit"]:hover,
.button_light a.button:hover,
.button_light a.more-link:hover,
.button_light .widget .cart_item.edd_checkout a:hover,
.button_light .edd-reviews-voting-buttons a.vote-yes:hover,
.button_light .edd-reviews-voting-buttons a.vote-no:hover,
.button_light .fes-product-list-pagination-container a:hover,
.button_light .stocky_navigation a:hover,
.button_light #edd-purchase-button:hover,
.button_light .edd-submit:hover,
.button_light input.edd-submit[type="submit"]:hover,
.button_light .edd-submit.button:hover,
.button_light .edd-submit.button:visited:hover,
.button_light .navigation a:hover,
.button_light .navigation span.current,
.button_light a.insert-file-row:hover {
    color:#F5F5F5 !important;
}

ul.children {
    margin-left:5%;
}

ul.commentlist, ul.pinglist {
    margin:-5px 0 0;
}

div.reply {
    text-align:right;
	font-size:12px;
	float: right;
	margin-left: 20px;
}

textarea#comment {
    overflow:auto;
}

ul.commentlist li,
ul.pinglist li {
	position:relative;
	margin:5px 0 0;
}

.the_comment {
	padding:0 0 40px 90px;
	position:relative;
	min-height:60px;
}

.the_comment_author {
	display: block;
	width:auto;
	position: relative;
	color:#AAAAAA;
	margin-bottom: 15px;
	width: calc(100% - 190px)
}

	.the_comment_author a {
		color:#AAAAAA;
	}

		.the_comment_author a:hover {
			color: #848484;
		}

ul.commentlist img.avatar {
    position: absolute;
    top: 0px;
    left: 0px;
    height:60px;
    width: 60px;
    -webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

li.bypostauthor > div > .the_comment_author span {
    font-weight: bold;
}

.moderation {
	display: block;
	clear: both;
	color:#37A741;
	font-weight: 900;
	margin-bottom: 5px;
}

.commentmetadata {
    float: left;
    width: auto;
}

input[type="text"],
input[type="password"],
input[type="url"],
input[type="email"],
input[type="tel"],
input[type="number"] {
    height: auto;
    padding: 10px;
    width: 350px;
    min-width: 50%;
    max-width: 100%;
}

select {
	padding: 4px 10px;
    width: 300px;
    height:33px;
}

select[multiple] {
	height: 100px !important;
	padding: 0 !important;
}

	select[multiple] option {
		padding: 5px 10px;
	}

textarea {
    height: 200px;
    padding: 10px;
    resize: vertical;
    width: 100%;
}

input[type="text"],
input[type="password"],
input[type="url"],
input[type="email"],
input[type="tel"],
input[type="number"],
input[type="file"],
textarea,
select,
.fes-comments-wrap select,
table#fes-comments-table input[type="text"],
table#fes-comments-table textarea {
    line-height: 25px;
    border: 2px solid #CFCFCF;
    background-color: #FFFFFF;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: block;
    font:14px/21px 'Helvetica Neue',Helvetica,Arial,sans-serif;
    -webkit-transition: all .1s linear;
	-moz-transition: all .1s linear;
	-ms-transition: all .1s linear;
	-o-transition: all .1s linear;
	transition: all .1s linear;
	max-width: 100%;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

input[type="file"] {
	padding: 10px 0 0 !important;
	line-height: 1em !important;
	border: 0 !important;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="url"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
textarea:focus,
table#fes-comments-table input[type="text"]:focus,
table#fes-comments-table textarea:focus {
    border-color: #9C9C9C
}

#sidebar input[type="text"],
#sidebar input[type="password"],
#sidebar input[type="url"],
#sidebar input[type="email"],
#sidebar input[type="tel"],
#sidebar input[type="number"],
#sidebar select,
#sidebar textarea {
	width: 100%;
}

#reply-title {
	font-size: 1em;
}

#respond {
    margin: 80px 0 80px
}

	#respond small {
		bottom: -2px;
	    display: inline-block;
	    position: absolute;
	    right: 0;
	}

.commentlist #respond {
    padding-bottom: 40px;
}

.commentlist #respond h3 {
    margin-top: 0
}

.commentlist .children #respond {
    margin: 15px 0 0;
    box-shadow: none;
    border-radius: 0;
}

#commentform label,
.fes-label label,
label {
	text-transform: uppercase;
	font-weight: bold;
	color:#848484;
	letter-spacing: 1px;
}

	#commentform label .required,
	span.edd-required-indicator {
		color: #CD3A18;
		margin-left: 3px;
	}

.fes-help {
	color: #a0a0a0;
    display: block;
    font-size: 0.8em;
    line-height: 1.5em;
    margin-bottom: 8px;
}

.comment-reply-link,
.comment-edit-link,
.comment_permalink {
	text-transform: uppercase;
	color:#AAAAAA;
}

	.comment-reply-link:hover,
	.comment-edit-link:hover,
	.comment_permalink:hover {
		color: #848484;
	}

.comment-edit-link .fa,
.comment-reply-link .fa,
.comment_permalink .fa {
	margin-right: 5px;
}

.comment-edit-link {
	margin-right: 20px;
}

.the_comment_text .reviewRating {
	position: absolute;
	top:0;
	right: 0;
}

/* ============================================== EDD STUFF ==============================================*/

#edd_checkout_form_wrap input[type="email"],
edd_checkout_form_wrap input[type="password"],
#edd_checkout_form_wrap input[type="text"],
#edd_checkout_form_wrap textarea {
	padding: 10px;
	width: 100%;
}

#edd_checkout_form_wrap select.edd-select {
	height: 45px;
	width: 100%;
}

#edd-purchase-button,
.edd-submit,
input.edd-submit[type="submit"] {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	padding: 10px;
}

#edd-save-cart-button {
	line-height: normal;
}

#edd_login_form,
#edd_register_form,
.edd-logged-in,
.fes-form-registration-form {
	margin: 20px auto;
	width: 290px;
	max-width: 100%;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	padding: 20px;
	border: 2px solid #E0E0E0;
	background-color: #FFFFFF;
	text-align: left;
	color:#4E4E4E;
}

	.fes-form-registration-form div.fes-form fieldset {
		border: none;
	}

	#edd_login_form legend,
	#edd_register_form legend,
	#fes-registration-form-title {
		display: block;
		text-align: center;
		width: 100%;
		color: #848484;
	    font-weight: bold;
	    text-transform: uppercase;
	    padding-bottom: 20px;
	    border-bottom: 2px solid #e0e0e0;
	    font-size: 16px;
	    margin: 0 0 20px;
	    line-height: 1.8em;
	}

	#edd_login_form input[type="text"],
	#edd_login_form input[type="password"],
	#edd_login_form input[type="submit"],
	#edd_register_form input[type="text"],
	#edd_register_form input[type="password"],
	#edd_register_form input[type="submit"],
	#edd_register_form input[type="email"],
	.fes-form-registration-form input[type="text"],
	.fes-form-registration-form input[type="password"],
	.fes-form-registration-form input[type="submit"],
	.fes-form-registration-form input[type="email"] {
		width: 100%;
	}

	.fes-form-registration-form .fes-submit .fes-label {
		display: none;
	}

	#edd_login_form fieldset,
	#edd_register_form fieldset {
		border: none;
	}

	#edd_login_form label,
	#edd_register_form label {
		display: block;
		text-transform: uppercase;
		font-weight: bold;
		color:#848484;
	}

.edd-lost-password {
	font-size: .8em;
	margin: 0;
}

.stocky_login_register {
	padding: 40px 0;
}

	.stocky_login_register .edd-logged-in {
		text-align: center;
		font-size: 1em;
		font-weight: bold;
	}

	.stocky_login_register #header_inner {
		padding: 0 0 20px;
	}

		.stocky_login_register #header_inner h1.sitename_logo {
			margin-bottom: 0;
		}

#back_home_wrap {
	text-align: center;
}

.stocky_login_register,
#back_home {
	color:#FFFFFF;
	text-align: center;
}

	.stocky_login_register.dark_text,
	.stocky_login_register.dark_text #back_home {
		color:#454545;
	}

	#back_home:hover {
		text-decoration: underline;
	}

/* Checkout, History */

#edd_user_history {
	border:1px solid #f0f0f0;
}

#edd_checkout_cart,
#edd_user_history {
	border-collapse: collapse;
}

	#edd_checkout_cart td:not(:first-child),
	#edd_checkout_cart th:not(:first-child),
	#edd_user_history td:not(:first-child),
	#edd_user_history th:not(:first-child) {
		border-left: 0;
	}

	#edd_checkout_cart td:not(:last-child),
	#edd_checkout_cart th:not(:last-child),
	#edd_user_history td:not(:last-child),
	#edd_user_history th:not(:last-child) {
		border-right: 0;
	}

	#edd_checkout_cart td,
	#edd_checkout_cart th,
	#edd_checkout_cart .edd_cart_header_row th,
	#edd_user_history td,
	#edd_user_history th {
		padding: 10px;
	}

/* Receipt */

#edd_purchase_receipt,
#edd_purchase_receipt_products {
	border-collapse: collapse;
}

#edd_purchase_receipt th,
#edd_purchase_receipt td,
#edd_purchase_receipt_products th,
#edd_purchase_receipt_products td {
	padding:5px 10px;
}

#edd_purchase_receipt thead tr,
#edd_purchase_receipt tr:nth-child(2n),
#edd_purchase_receipt_products thead tr,
#edd_purchase_receipt_products tr:nth-child(2n) {
	background-color:#F4F4F4
}

table#edd_purchase_receipt_products li.edd_download_file {
	text-transform: uppercase;
}
#edd_purchase_receipt .edd_receipt_fees li {
	list-style: none;
	margin-left: 0;
}
/* ============================================== FRONTEND SUBMISSIONS PLUGIN ==============================================*/

.fes-vendor-menu {
	margin-top: -30px;
}

.fes-vendor-menu ul li {
	list-style: none;
	margin: 0;
	border-bottom: 3px solid transparent;
	-webkit-transition: all .1s linear;
	-moz-transition: all .1s linear;
	-ms-transition: all .1s linear;
	-o-transition: all .1s linear;
	transition: all .1s linear;
}

	.fes-vendor-menu ul li.active {
		border-color: #A0A0A0;
	}

	.fes-vendor-menu ul li:hover {
		border-color: #E0E0E0;
	}

.col-author .fes-light-green,
.col-author .fes-light-red,
.col-author #fes-comment-date,
.col-author #fes-product-name,
.col-author #fes-view-comment {
	font-size: .8em;
}

.col-author .fes-light-green,
.col-author .fes-light-red {
	background-color: transparent;
	text-align: left;
	padding: 0;
	clear:both;
}

	.col-author .fes-light-green:before {
		font-family: "FontAwesome";
		content:"\f00c";
		color: #25B036;
		margin-right: 5px;
		font-weight: normal;
	}

table#fes-comments-table {
    border-bottom: 1px solid #E0E0E0;
    border-top: 1px solid #E0E0E0;
    width: 100%;
    margin: 2em 0;
    border-collapse: collapse;
}

table#fes-comments-table th,
table#fes-comments-table td {
	border-bottom: 1px solid #E0E0E0;
}

table#fes-comments-table td[colspan="4"],
table#fes-product-list td.fes-product-list-td[colspan="7"],
table#fes-order-list td[colspan="6"] {
	padding: 30px 0;
	text-align: center;
	color:#848484;
	font-size: 1em;
}

table#fes-comments-table th.col-author,
table#fes-comments-table th.col-content {
	padding-top: 20px;
	padding-bottom: 20px;
	vertical-align: top;
}

table#fes-comments-table thead tr,
table#fes-comments-table th,
table#fes-comments-table tr,
table.multiple thead tr,
table.multiple th,
table.multiple tr {
	background-color: transparent;
	border: none;
}

	table.multiple tr td,
	table.multiple th {
		padding-left: 0;
	}

table#fes-comments-table th.col-content,
table#fes-comments-table td.col-content {
	padding-left: 20px;
}

table#fes-comments-table td.col-author,
table#fes-comments-table td.col-content{
	padding-top: 40px;
	padding-bottom: 40px;
	vertical-align: top;
}

	table#fes-comments-table td.col-author br {
		display: none;
	}

	table#fes-comments-table td.col-author > div,
	table#fes-comments-table td.col-author > span {
		display: block;
	}

#fes-view-comment a {
	padding: 3px 10px;
	line-height: 1.5em;
	background-color: #FFFFFF;
	display: inline-block;
	color:#848484;
	border: 2px solid #E0E0E0;
	margin-top: 10px;
}

	#fes-view-comment a:hover {
		background-color: #E0E0E0;
		color:#454545;
	}

.col-content hr {
	height: 2px;
	background-color:#E0E0E0;
	border: none;
}

.fes-comments-content {
	margin-bottom: 20px;
}

.fes-vendor-comment-respond-form {
	margin-top: 20px;
}

	.fes-vendor-comment-respond-form span {
		color: #848484;
	    font-weight: bold;
	    text-transform: uppercase;
	}

	.fes-vendor-comment-respond-form button {
		margin: 10px 10px 0 0;
	}

table#fes-comments-table textarea {
    padding: 10px;
    resize: vertical;
    width: 100%;
    -webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

button[type="submit"] {
	padding: 0 10px;
}

	button[type="submit"].fes-ignore {
		background-color: #E0E0E0;
		color:#454545;
	}

h1.fes-headers {
    border-bottom: 1px solid #e5e5e5;
    font-size: 1.5em;
    margin-bottom: 20px;
    margin-top: 35px;
    padding-bottom: 10px;
}

#fes-product-list,
#fes-order-list {
	width: 100%;
}

	#fes-product-list th,
	#fes-order-list th {
		text-align: left;
	}

.fes-product-list-td img {
	width: 50px;
	display: block;
}

.fes-product-list-td .view-product-fes,
.fes-product-list-td .edit-product-fes,
.fes-order-list-td .view-order-fes {
	font-size: .7em;
	margin-right: 5px;
	border: 1px solid #E0E0E0;
	color:#454545;
	display: inline-block;
	padding: 0 5px;
	line-height: 1.8em;
	background-color:#FFFFFF;
}

	.fes-product-list-td .edit-product-fes:last-child {
		margin-right: 0;
	}

	.fes-product-list-td .view-product-fes:hover,
	.fes-product-list-td .edit-product-fes:hover {
		background-color: #E0E0E0;
	}

.fes-product-list-td:last-child {
	font-size: .8em;
}

.download-status.published {
	color: #25B036;
}

.fes-product-list-pagination-container a {
    background-color: transparent;
    margin: 30px 2px 0;
    display: inline-block;
    -moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	min-width: 30px;
	padding: 0 10px;
	line-height: 30px;
	height: 30px;
}

	.fes-product-list-pagination-container span {
		padding: 0 10px;
		line-height: 30px;
		height: 30px;
		background: #F7F7F7;
		margin: 30px 2px 0;
		display: inline-block;
		-moz-box-sizing:border-box;
		-webkit-box-sizing:border-box;
		box-sizing:border-box;
	}

a.insert-file-row {
	border-width: 3px;
	border-style: solid;
	text-transform: uppercase;
	display: inline-block;
	padding: 0 10px;
	font-size: 0.8em;
}

	a.insert-file-row:before {
		content:"\f067";
		font-family: "FontAwesome";
		display: inline-block;
		margin-right: 5px;
		font-weight: normal;
		font-size: .9em;
	}

.entry-content .fes-form .fes-variations-list-multiple td.fes-url-row {
	padding-bottom: 5px;
}

.fes-url-choose-row .btn {
	padding: 0 10px;
	font-size: .8em;
}

.fes-delete-row .btn-danger {
	padding: 0 10px;
	font-size: .8em;
	background-color: #CD3A18;
}

div.fes-form fieldset {
	border: none;
	margin: 0;
	padding: 0;
}

div.fes-form .fes-fields {
	margin-bottom: 20px;
}

.fes-fields .image-wrap {
    position: relative;
    display: inline-block;
    width: auto;
    max-width: 100%;
}

	.fes-fields .image-wrap.fes-hide {
		display: none;
	}

	.fes-fields .image-wrap .fes-remove-feat-image {
		display: block;
		position: absolute;
		top:-15px;
		right: -15px;
		height: 30px;
		width: 30px;
		-webkit-border-radius: 15px;
		-moz-border-radius: 15px;
		border-radius: 15px;
		text-align: center;
		line-height: 24px;
		font-size: 22px;
		background-color: #252525;
		color:#ffffff;
		z-index: 2;
		-moz-box-sizing:border-box;
		-webkit-box-sizing:border-box;
		box-sizing:border-box;
		border: 2px solid #FFFFFF;
		cursor: pointer;
	}

	.fes-fields .image-wrap img {
		width: 100%;
		position: relative;
		z-index: 1;
	}

div.fes-form fieldset .fes-fields input[type="email"],
div.fes-form fieldset .fes-fields input[type="number"],
div.fes-form fieldset .fes-fields input[type="password"],
div.fes-form fieldset .fes-fields input[type="text"],
div.fes-form fieldset .fes-fields input[type="url"],
div.fes-form fieldset .fes-fields textarea {
	background-color: #FFFFFF;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border: 2px solid #CFCFCF;
	padding: 10px;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	width: 100%;
}

div.fes-form fieldset .fes-fields select {
	max-width: 100%;
	width: 300px;
	min-width: 50%;
	box-shadow: none;
	border: 2px solid #CFCFCF;
	height: 35px;
    padding: 4px 10px;
    -webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.fes-vendor-menu {
    margin-top: -30px;
    font-size: .8em;
}

	.fes-vendor-menu ul li {
	    border-bottom: 3px solid transparent;
	    list-style: none outside none;
	    margin: 0 2px;
	    transition: all 0.1s linear 0s;
	    float: left;
	    text-align: center;
	}
	
		.fes-vendor-menu ul li.active {
		    border-color: #a0a0a0;
		}
		
		.fes-vendor-menu ul li:hover {
		    border-color: #e0e0e0;
		}
		
		.fes-vendor-menu > ul > li > a {
		    display: block;
		    letter-spacing: 1px;
		    padding: 0 8px;
		    text-decoration: none;
		}

	.fes-vendor-menu [class*=" icon-"],
	.fes-vendor-menu [class^="icon-"] {
	    margin-top: 3px;
	    background-image:none;
	    font-family: "FontAwesome";
	    font-style: normal;
	    color:#454545;
	    font-weight: normal;
	}
	
		.fes-vendor-menu .icon.icon-home:before {
			content:"\f015"
		}
		
		.fes-vendor-menu .icon.icon-list:before {
			content:"\f03a"
		}
		
		.fes-vendor-menu .icon.icon-pencil:before {
			content:"\f040"
		}
		
		.fes-vendor-menu .icon.icon-gift:before {
			content:"\f06b"
		}
		
		.fes-vendor-menu .icon.icon-user:before {
			content:"\f007"
		}
		
		.fes-vendor-menu .icon.icon-off:before {
			content:"\f011"
		}
		
		.fes-vendor-menu .icon.icon-earnings:before {
			content:"\f0d6"
		}

.fes-author-img,
#fes-comment-author {
	display: block;
	min-height: 32px;
	margin: auto;
	line-height: 32px;
	float: left;
}

.fes-author-img {
	margin-right: 10px;
}

.fes-author-img .avatar {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

#fes-vendor-announcements {
	background-color: #FEF4CE;
	border:1px solid #EDDEA3;
	padding: 15px;
	font-size: .9em;
	margin: 25px 0;
}

fieldset.post_title:before {
	display: none;
}

.stocky_vendor_sidebar .box_title {
	margin: 40px 0 20px;
}

.stocky_vendor_sidebar #fes-contact-form-title {
	display: none;
}

.stocky_vendor {
	text-align: center;
}

	.stocky_vendor .avatar {
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		border-radius: 50%;
	    display: block;
	    height: auto;
	    margin: 0 auto 15px;
	    max-width: 60px;
	    width: auto;
	}

	.stocky_vendor .vendor_name {
		display: block;
		font-size: .9em;
		text-transform: uppercase;
		font-weight: bold;
		line-height: 1.5em;
	}

	.stocky_vendor .vendor_since {
		display: block;
		font-size: .8em;
		color:#848484;
		line-height: 1.5em;
	}

.stocky_vendor_bio span {
	font-size: .9em;
	color:#737373;
	line-height: 25px;
}

.stocky_vendor_contact textarea {
	height: 110px;
}

.stocky_vendor_contact .fes-submit .fes-label {
	display: none;
}

.stocky_vendor_contact .fes-submit input {
	width: 100%;
}

.entry-content .fes-fields ul li {
	list-style: none;
	margin-left: 0;
}

.fes-submission-form table th,
.fes-submission-form table thead tr,
.fes-submission-form table tr:nth-child(2n) {
	background-color: white !important;
}
.fes-fields .fes-file-column,
.fes-fields .fes-remove-column {
	display: none;
}


/* ============================================== ALIGNMENTS ==============================================*/

.alignright {
	float: right;
	margin: 0 0 20px 20px;
}

.alignleft {
	float: left;
	margin: 0 20px 20px 0;
}

.aligncenter {
	display: block;
	margin: 20px auto;
	text-align: center;
}

.alignnone {
	margin: 0 0 20px 0;
}

.alignright,
.alignleft,
.aligncenter,
.alignnone  {
	display: block;
	padding:4px;
	background-color: #FFFFFF;
	border:1px solid #E0E0E0;
	width: auto;
	max-width: 100%;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}

.alignright img,
.alignleft img,
.aligncenter img,
.alignnone img {
	display: block;
}

p.wp-caption-text {
    margin: 5px 0 0;
    text-align: center;
    font-size: 12px;
    line-height: 19px;
    padding:10px 0;
}

.wp-caption-dd {
	padding:15px 0 10px;
}

/* ============================================== NAVIGATION ==============================================*/

.navigation,
.stocky_navigation {
    height: auto;
    clear: both;
}

.blog .stocky_navigation {
    margin-top: -70px
}

.the_archive .stocky_navigation a {
    margin: 20px 0 40px;
    display: block;
}

.stocky_navigation a {
    margin: 30px 0 0;
}

.nav-next {
    float: right;
    text-align: right;
}

	.nav-next a:after {
		content: "\f105";
		display: inline-block;
		font-family: "FontAwesome";
		margin-left: 5px;
		font-weight: normal;
	}

.nav-prev {
    float: left;
    text-align: left;
}

	.nav-prev a:before {
		content: "\f104";
		display: inline-block;
		font-family: "FontAwesome";
		margin-right: 5px;
		font-weight: normal;
	}

#stocky_downloads_list {
	overflow: hidden;
	width: 100%;
}

#image_grid.has_sidebar {
	width: 69.64285714285714%;
	float: left;
}

	#edd_download_pagination.navigation {
		position: relative;
		float: left;
		left: 50%;
		margin-top: 30px;
	}
	
		#edd_download_pagination.navigation:empty {
			margin: 500px;
		}

		#edd_download_pagination span,
		#edd_download_pagination a {
			float:left;
			position: relative;
			right:50%;
		}

.navigation a,
.navigation span.current {
	padding: 0 10px;
	line-height: 26px;
	height: 30px;
	margin: 10px 5px 0;
	display: inline-block;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	border-width: 2px;
	border-style: solid;
	text-align: center;
	-webkit-transition: all .15s linear;
	-moz-transition: all .15s linear;
	-ms-transition: all .15s linear;
	-o-transition: all .15s linear;
	transition: all .15s linear;
}

.navigation span.dots {
	line-height: 20px;
	width: 30px;
	height: 30px;
	margin: 10px 5px 0;
	display: inline-block;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	text-align: center;
	background-color: #f2f2f2;
}

.navigation a {
	color:#FFFFFF;
}

/* ============================================== GRAVITY FORMS ==============================================*/

.gform_wrapper {
	max-width: 100% !important;
}

.entry-content .gform_body ul li.gfield {
	margin: 20px 0 0 0;
}

.container .gform_wrapper input[type="text"],
.container .gform_wrapper input[type="url"],
.container .gform_wrapper input[type="email"],
.container .gform_wrapper input[type="tel"],
.container .gform_wrapper input[type="number"],
.container .gform_wrapper input[type="password"],
.container .gform_wrapper input[type="password"],
.container .gform_wrapper .top_label input.medium,
.container .gform_wrapper .top_label select.medium {
	padding: 4px 10px;
    width: 230px;
    font-size: 15px;
    max-width: 100%;
    min-width: 50%;
}

.container .gform_wrapper .top_label input.large,
.container .gform_wrapper .top_label select.large,
.container .gform_wrapper .top_label textarea.textarea {
	height: 200px;
    width: 100%;
}

.container .gform_wrapper textarea {
	padding: 10px;
	font-size: 15px;
}

.container .gform_wrapper.gf_browser_gecko ul.gform_fields li.gfield div.ginput_complex span.ginput_left select,
.container .gform_wrapper.gf_browser_gecko ul.gform_fields li.gfield div.ginput_complex span.ginput_right select,
.container .gform_wrapper.gf_browser_gecko ul.gform_fields li.gfield select {
	margin-left: 0;
}

.recaptchatable {
	background-color:#FFFFFF;
}

.recaptchatable #recaptcha_response_field {
	padding:0;
}

#sidebar .gform_wrapper input[type="text"],
#sidebar .gform_wrapper input[type="url"],
#sidebar .gform_wrapper input[type="email"],
#sidebar .gform_wrapper input[type="tel"],
#sidebar .gform_wrapper input[type="number"],
#sidebar .gform_wrapper input[type="password"],
#sidebar .gform_wrapper select,
#sidebar .gform_wrapper textarea {
	width: 100%;
}

/* Media for anything with a max width of 1024px. */
@media
only screen and (min-width: 0) and (max-width: 1024px) {

	.edd_download_image .stocky_hover_details {
		display: none;
	}

}

/* Media for anything with a max width of 1023px. */
@media
only screen and (min-width: 0) and (max-width: 1023px) {

	#home_latest_posts article {
		width: 100%;
	}

	#home_latest_posts .post_content {
		min-height: inherit;
		padding: 12.50% 6.25%;
	}

	#home_latest_posts article .latest_content {
		margin: 0;
		position: relative;
	}

}

/* Media for anything with a min width of 768px and max width of 1023px. Portrait iPad and larger mobile devices */
@media
only screen and (min-width: 768px) and (max-width: 1023px) {

	/* Home */

	.edd_downloads_list .edd_download {
		width: 33.3333333333% !important;
		padding: .641025641025641%; /* 5 / 780 */
	}

		#image_grid.latest_products .edd_downloads_list .edd_download,
		.page-template-page-vendor-php .edd_downloads_list .edd_download {
			width: 50% !important;
		}

	#home_widgets.widget_count4 .widget,
	.footer_widget_count4 .footer_widget {
	    width: 48.214285714285715%;
	    margin-right: 2.6785714285714284%;
	}

		#home_widgets.widget_count4 .widget:nth-child(2n),
		.footer_widget_count4 .footer_widget:nth-child(2n) {
			margin-right: 0;
		}

}

/* Media for anything smaller than 767px */
@media
only screen and (min-width: 0) and (max-width: 767px) {

	/* Mobile Menu */

	#main_menu ul#stocky_menu {
		display: none;
	}

	#stocky_menu_container {
		position: relative;
	}

	#main_menu form div {
		position: relative;
	}

	select.select-menu {
		display: block;
		width: 100%;
	}

	#main_menu select.select-menu {
		display: block;
	    position: relative;
	    z-index: 10;
	    width: 100%;
	    height: 40px;
	    line-height: 26px;
	    top:0;
	    margin-bottom: 20px;
	    -webkit-appearance: menulist-button;
	    border:0;
	    padding: 0;
	}

	#main_menu span.select {
		display: block;
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 40px;
	    line-height: 40px;
	    font-size: 14px;
	    color: #6D6D6D;
	    text-indent: 30px;
	    background-color: #F2F2F2;
	    background-size:250px 43px;
	    cursor: default;
	    z-index: 1;
	    overflow: hidden;
	    text-align: left;
	}

		#main_menu span.select:before {
			font-family: "FontAwesome";
			content:"\f054";
			position: absolute;
			left: -18px;
			top:2px;
			font-weight: normal;
		}

	/* Home */

	.edd_downloads_list .edd_download,
	#image_grid.latest_products .edd_downloads_list .edd_download,
	.page-template-page-vendor-php .edd_downloads_list .edd_download {
		width: 50% !important;
	}

	.edd_download_image img {
		width: 100%;
	}

	#home_widgets.widget_count1 .widget,
	#footer_widgets.footer_widget_count1 .footer_widget {
		width: 100% !important;
		margin-right:0 !important;
	}

	#home_widgets .widget,
	#footer_widgets .footer_widget {
	    width: 48.214285714285715% !important;
	    margin-right: 2.6785714285714284% !important;
	}

		#home_widgets .widget:nth-child(2n),
		#footer_widgets .footer_widget:nth-child(2n) {
			margin-right: 0 !important;
		}

		#home_widgets .widget .box_title.widgettitle {
			margin-top: 30px;
		}

			#home_widgets .widget:first-child .box_title.widgettitle,
			#home_widgets .widget:nth-child(2) .box_title.widgettitle {
				margin-top: 0;
			}

	#home_widgets.widget_count_overflow .widget:nth-child(3n+1) {
		clear: none;
	}

	#home_widgets.widget_count_overflow .widget:nth-child(2n+1) {
		clear: both;
	}

	#header_inner {
		padding: 50px 0;
	}

	#slogan {
		font-size: 1.5em;
	}

	/* Menu */

	#head_cart span,
	#stocky_login_register span,
	#stocky_logout span {
		display: none;
	}

	/* Downloads */

	#single_item_wrap .posts-wrap,
	#single_item_wrap #sidebar {
		float: none;
		width: 100%;
	}

	.related_products_wrap .single_related {
		width: 23%;
		margin-right: 2.6666666666%;
		margin-bottom: 2.6666666666%;
	}

		.related_products_wrap .single_related:nth-child(4n) {
			margin-right: 0;
		}

	/* Downloads archive */
	
	#image_grid.has_sidebar,
	.posts-wrap #image_grid .edd_downloads_list .edd_download {
		width: 100% !important;
	}

	/* Pages and Posts */

	.posts-wrap,
	#sidebar {
		width: 100%;
	}

	#sidebar {
		padding: 40px 9999px;
		margin: 80px -9999px -40px;
		border-bottom:10px solid #EAEAEA;
		border-top:10px solid #EAEAEA;
	}

	/* Sidebar */

	#sidebar {
		margin-top: 80px;
	}

}

/* Media for anything smaller than 500px */
@media
only screen and (min-width: 0) and (max-width: 500px) {

	/* Home */

	#home_widgets .widget,
	#footer_widgets .footer_widget {
	    width: 100% !important;
	    margin-right:0 !important;
	}

	#home_widgets .widget .box_title.widgettitle,
	#home_widgets .widget:nth-child(2) .box_title.widgettitle {
		margin-top: 30px;
	}

	/* Products */

	.edd_downloads_list .edd_download,
	#image_grid.latest_products .edd_downloads_list .edd_download,
	.page-template-page-vendor-php .edd_downloads_list .edd_download {
		width: 100% !important;
	}

	.the_comment_author {
		width: 100%;
	}

	.the_comment_text .reviewRating {
		position: relative;
		margin-bottom: 15px;
	}

	.commentmetadata,
	div.reply {
		float: none;
		margin: 0;
		text-align: left;
	}

	/* Posts */

	.about_the_author {
		padding-top: 55px;
		margin-top: 75px;
		text-align: center;
	}

		.about_the_author .avatar {
			float: none;
			margin:-36.5px 0 0 -35px;
			position: absolute;
			left:50%;
			top:0;
			width:70px;
			border: 3px solid #E0E0E0;
			-moz-box-sizing:border-box;
			-webkit-box-sizing:border-box;
			box-sizing:border-box;
		}

		.about_the_author .author_info {
			width: 100%
		}

	/* Comments */

	.the_comment {
		border-left: 3px solid #E0E0E0;
	    margin-bottom: 40px;
	    padding: 0 0 0 20px;
	}

	ul.commentlist img.avatar {
		display: none;
	}

	#respond small {
		position: relative;
		text-align: center;
		display: block;
	}

}

/* Media for anything smaller than 479px */
@media
only screen and (min-width: 0) and (max-width: 479px) {
	
	.edd-wl-item-title > *,
	.edd-wl-item-title .edd-wl-item-purchased {
		display: block !important;
		margin:15px 0 !important;
		width: calc(100% - 50px);
	}
	
	.edd-wl-item-title .edd-wl-item-purchased {
		position: relative;
		bottom: auto;
		right: auto;
		text-align: left;
		font-size: 1em;
	}
	
}

/* Media for anything smaller than 320px - iPhone Portait and smaller */
@media
only screen and (min-width: 0) and (max-width: 320px) {

	/* Header */

	#logo_wrap {
		margin: 20px 0;
		text-align: center;
		float: none;
		width: 100%;
		height: auto;
	}

		#logo_wrap #logo {
			max-height: inherit;
			height: auto;
			width: auto;
			max-width: 50%;
		}

}