/*
Theme Name: Stocky
Theme URI: http://themes.designcrumbs.com/stocky
Description: Stocky is a stock photography theme for use with the Easy Digital Downloads plugin
Author: Jake Caputo
Author URI: http://designcrumbs.com
Version: 1.1
Tags: gray, white, dark, light, two-columns, fluid-layout, custom-colors, custom-header, custom-menu, editor-style, featured-images, front-page-post-form, full-width-template, theme-options, threaded-comments, translation-ready

License: GNU General Public License v2.0
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/

/* ============================================== FONTS ============================================== */

@font-face {
    font-family: 'Socialglyphs-Regular';
    src: url('fonts/socialglyphs-regular.eot');
    src: url('fonts/socialglyphs-regular.eot?#iefix') format('embedded-opentype'), url('fonts/socialglyphs-regular.woff') format('woff'), url('fonts/socialglyphs-regular.ttf') format('truetype'), url('fonts/socialglyphs-regular.svg#socialglyphs-regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* ============================================== BASIC STUFF ============================================== */

* {
	padding:0;
	margin:0;
}

html {
	overflow-y: auto !important;
}

body {
	background-color: #F6F6F6;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	word-wrap: break-word;
}

body,
input,
textarea,
select {
    color: #454545;
	font-size: 16px;
	line-height: 1.8em;
    font-family: 'Roboto',sans-serif;
}
#contentbox
{
width:458px; height:50px;
border:solid 2px #dedede;
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
margin-bottom:6px;
}
.img
{
float:left; width:150px; margin-right:10px;
text-align:center;
}
#linkbox
{
border:solid 2px #dedede; min-height:50px; padding:15px;
display:none;
}
a {
	color:#fff;
	text-decoration: none;
	-webkit-transition: all .3s linear;
	-moz-transition: all .3s linear;
	-ms-transition: all .3s linear;
	-o-transition: all .3s linear;
	transition: all .3s linear;
	outline:none;
}

p {
    margin: 0 0 15px
}

img {
    border: none;
    max-width: 100%;
    height: auto;
}

.clear {
	clear:both;
}

.clearfix,
.widget .edd-cart li,
.fes-vendor-menu ul {
    zoom: 1
}

.clearfix:before,
.clearfix:after,
.widget .edd-cart li:before,
.widget .edd-cart li:after,
.fes-vendor-menu ul:before,
.fes-vendor-menu ul:after {
    content: "";
    display: table;
    line-height: inherit;
}

.clearfix:after,
.widget .edd-cart li:after,
.fes-vendor-menu ul:after {
    clear: both
}

.additional-meta {
	font-size: xx-small;
}

.wp-caption,
.wp-caption-text,
.sticky,
.gallery-caption,
.bypostauthor {
    display: block
}

blockquote,
q {
    font-style: oblique;
    margin: 0 0 15px;
    font-size: 18px;
    line-height: 25px;
    padding-left: 25px;
    border-left: 5px solid #494949;
}

	blockquote cite {
		display: block;
		margin-top: 15px;
	}

.hide {
    display: none
}

code,
kbd,
tt {
	display: inline-block;
	font-family: monospace;
}

pre {
	font-family: monospace;
	background-color: #E3E3E3;
	padding: 5px 15px;
	max-width: 100%;
	overflow: auto;
	margin-bottom: 15px;
}

small {
	font-size: 12px;
}

strong,
b,
big {
	font-weight: 700;
}

big {
	font-size: 1.2em;
}

address {
	margin-bottom: 15px;
}

cite,
var {
	font-style: oblique;
	color:#848484;
}

ins {
	text-decoration: underline;
	color:#848484; 
}

sub,
sup {
	display: inline-block;
	font-size: .8em;
}

/* ============================================== LISTS & GENERAL THINGS ============================================== */

ul,
ol,
dl,
ul li,
ul li,
dl dt,
dl dd  {
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
}

dl dt {
	font-weight: 700;
}

dl dd {
	margin-left: 30px;
	margin-bottom: 20px;
}

/* lists inside posts */

.entry-content ul,
.entry-content ol {
    margin-bottom: 15px
}

    .entry-content ul ol {
        margin-left: 0
    }

    .entry-content ul li {
        margin-left: 10px;
        list-style: disc;
        list-style-position: inside;
    }

        .entry-content ul li ol {
            margin-left: 10px
        }

    .entry-content ol li {
        margin-left: 10px;
        list-style: decimal;
        list-style-position: inside;
    }

        .entry-content ol li li,
        .entry-content ul li li {
            margin-left: 20px
        }
        
table {
	border-collapse: collapse;
	width: 100%;
	text-align: left;
}

	table th {
		border-bottom:1px solid #E3E3E3;
	}

table th,
table td {
	padding:5px 10px;
}

table thead tr,
table th,
table tr:nth-child(2n) {
	background-color:#F4F4F4
}

/* ============================================== HEADINGS ============================================== */

.box_title,
#reply-title {
    margin: 0 0 40px;
    position: relative;
    text-align: center;
    color:#848484;
}

.box_title.comments_title,
#reply-title {
    margin: 0 0 20px;
}

	.box_title:before,
	#reply-title:before {
		content:"";
		background-color: #E5E5E5;
		height:1px;
		position: absolute;
		top:50%;
		width: 100%;
		left: 0;
	}
	
	.box_title h3,
	.box_title h4,
	#reply-title span {
		background-color: #FFFFFF;
	    -moz-box-sizing:border-box;
		-webkit-box-sizing:border-box;
		box-sizing:border-box;
	    font-weight: 900;
	    padding: 0 20px;
	    text-align: center;
	    text-transform: uppercase;
	    height: auto;
	    max-width: 80%;
	    line-height: 30px;
	    display: inline-block;
	    margin: auto;
	    position: relative;
	    letter-spacing: .1em;
	}
	
#home_widgets .box_title:before {
	background-color: #2E2F30;
}
	
#home_widgets .box_title h3 {
	background-color: #1B1C1E;
}
	
#footer_widgets .box_title h4 {
	background-color:#F9F9F9;
}

.post_title,
.box_title.widgettitle {
    margin-top: 0;
}

.post_title {
    margin-bottom: 40px;
    color:#848484;
    position: relative;
}

	.post_title:before {
		content:"";
		background-color: #E5E5E5;
		height:1px;
		position: absolute;
		top:50%;
		width: 100%;
		left: 0;
	}
	
	.post_title span {
		background-color: #FFFFFF;
	    -moz-box-sizing:border-box;
		-webkit-box-sizing:border-box;
		box-sizing:border-box;
	    font-weight: 900;
	    padding: 0 20px 0 0;
	    height: auto;
	    display: inline-block;
	    margin: auto;
	    position: relative;
	}

	.post_title a {
	    opacity: 1;
	    -webkit-transition: all .25s ease-in-out;
		-moz-transition: all .25s ease-in-out;
		-ms-transition: all .25s ease-in-out;
		-o-transition: all .25s ease-in-out;
		transition: all .25s ease-in-out;
	}
	
		.post_title a:hover {
		    text-decoration: none;
		    opacity: .8;	    
		}

#comments_closed {
    margin: 30px 0 20px;
    text-align: center;
}

#leavecomment {
    margin-top: 0
}

#commentform.edd-reviews-must-log-in {
	margin: -40px auto 0;
	max-width: 100%;
	width: 290px;
	border:2px solid #e0e0e0;
	padding: 20px;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}

/* ============================================== MAIN DIV'S ============================================== */

#site_wrap {
	width: 100%;
	overflow-x: hidden;
}

.wrapper {
	margin: 0 auto;
	width: 100%;
}

.container {
	width: 100%;
	max-width:1140px;
	padding: 0 10px;
	margin:auto;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}

#content {
	background-color: #F6f6f6;
}

	#content .container {
		padding-top:60px;
		padding-bottom:20px;
	}
	
	.single-download #content .container {
		padding-bottom: 0;
	}

/* ============================================== HEADER ============================================== */

#header,
body.page-template-page-login-php {
	background-repeat: no-repeat;
	background-position: center top;
	background-attachment: fixed;
	background-color: #1B1C1E;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
    position: relative;
    padding:0;
    margin:0;
    margin: 0 auto;
	padding: 0;
}

#header {
	text-align: center;
}
	
	body.page-template-page-login-php #content {
		 background-color: transparent;
	}
		
#header_inner {
	padding:150px 0;
}

	#header_inner.dark_text {
		color:#454545;
	}
	
	#header_inner.light_text {
		color:#FFFFFF;
	}

	#header_inner.search_result_header {
		padding: 75px 0;
	}
	
	
		
		
#logo {
	margin: auto;
	height: auto !important;
}

#logo_wrap {
	float: left;
	margin-right: 20px;
}

	#logo_wrap #logo {
		display: block;
		max-height: 44px;
		width: auto;
	}
		
#header_inner .retina_logo {
	display: none;
}
		

	
#head_cart > span {
	display: inline-block;
	min-width: 55px;
	text-align: right;
}


#stocky_logout:before {
	font-family: "FontAwesome";
	content: "\f011";
	margin-right: 5px;
	font-weight: normal;
}
	
#search_toggle {
	float: left;
	margin-right: 10px;
	display: block;
}
	
	#search_toggle:before {
		font-family: "FontAwesome";
		content:'\f002';
		display: block;
		height: 44px;
		width: 30px;
		text-align: left;
		font-weight: normal;
	}
		
#search_wrap {
	display: none;
	width: 100%;
	margin: 0;
	float: left;
}

/* ============================================== MENUS ============================================== */

/* Hide the mobile menu */
select.select-menu,
span.select {
	display: none;
}

#menu_wrap {
	height:auto;
	line-height: 44px;
	padding:8px 9999px;
	margin:0 -9999px;
	background-color: #13110F;
	background-color: rgba(0,0,0,.75);
	text-align: left;
	width: 100%;
}

	#menu_wrap a {
		color:#D3D3D3;
	}

	#menu_wrap .menu {
		float:left;
	}
	
	#menu_wrap #cart_links {
		float:right;
	}
	
		#menu_wrap #cart_links ul,
		#menu_wrap #cart_links ul li {
			float: left;
		}
		
		#menu_wrap #cart_links ul li {
			margin-left: 20px;
		}
		
#menu_toggle {
	float: left;
	margin-right: 10px;
}
	
	#menu_toggle:before {
		font-family: "FontAwesome";
		content:'\f0c9';
		display: block;
		height: 44px;
		width: 30px;
		text-align: left;
		font-weight: normal;
	}

#main_menu {
    line-height: 30px;
    display: none;
    position: relative;
    z-index: 999;
    width: 100% !important;
    padding:0 9999px;
    margin:0 -9999px;
    background-color: #13110F;
	background-color: rgba(0,0,0,.75);
}

    #main_menu .container {
        padding: 0;
        position: relative;
        border-bottom: 1px solid #E5E5E5;
    }

    #main_menu ul {
        margin: 0;
        padding: 0;
    }

        #main_menu ul li {
            margin: 0 30px 0 0;
            padding: 0 0 0;
            float: left;
        }
        
        	#main_menu > div > ul > li {
	            padding-bottom: 10px;
	        }
        
        #main_menu ul ul li {
            float: none;
        }

    #main_menu a {
        display: block;
        line-height: 40px;
        padding: 0;
        margin: 0;
        color: #909090;
    }

    #main_menu a:hover,
    #main_menu li.current-menu-item > a,
    #main_menu li.current_page_item > a,
    #main_menu li.current_page_parent > a,
    #main_menu li.current-menu-parent > a,
    #main_menu li.current-menu-ancestor > a,
    #main_menu li.current_page_ancestor > a {
        color: #FCFCFC;
        text-decoration: none;
    }

/* DROP DOWN MENUS */

    #main_menu li li {
        padding: 10px;
        margin: 0;
        width: 170px;
        position: relative;
        display: none;
    }
    
    	#main_menu li li a {
	    	position: relative;
    	}

    #main_menu li:hover li a {
        border: none;
        background: none;
        width: auto;
    }

    #main_menu ul li {
        position: relative
    }
    
    	#main_menu ul li:hover > ul,
    	#main_menu ul li:hover > ul li {
	    	display: block;
	    	opacity: 1;
	    	-webkit-transition: all .2s linear;
			-moz-transition: all .2s linear;
			-ms-transition: all .2s linear;
			-o-transition: all .2s linear;
			transition: all .2s linear;
    	}

        #main_menu ul li ul {
            width: auto;
            text-align:left;
            display: block;
            opacity: 0;
            margin: 0 0 0 -10px;
            padding: 0;
            z-index: 900;
            float: none;
            height: auto;
            position: absolute;
            top: 50px;
            background-color: #292929;
        }
                	
        	#main_menu > div > ul > li > ul:after {
        		bottom: 100%;
        		left: 10px;
        		border: solid transparent;
        		content: " ";
        		height: 0;
        		width: 0;
        		position: absolute;
        		pointer-events: none;
        		border-color: rgba(0, 0, 0, 0);
        		border-bottom-color: #292929;
        		border-width: 10px;
        	}
        	
        	#main_menu ul ul ul {
	        	top:0;
	        	left: 180px;
        	}

            #main_menu ul li ul li:hover ul {
                display: block;
                left: 200px;
            }

            #main_menu ul li ul li {
                position: relative;
                float: none;
                border-top-style: dotted;
                border-top-width: 1px;
                border-top-color: #141414;
                border-top-color: rgba(0, 0, 0, 0.5);
            }

            #main_menu ul li ul li:first-child {
                border: none
            }

    #main_menu ul li ul li a:hover {
        border: none
    }

/* ============================================== FRONT PAGE ============================================== */

#home_widgets {
	background-color: #1B1C1E;
	color: #B1B1B1;
	padding: 40px 9999px 10px;
	margin:-80px -9999px 40px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	text-align: center;
	width: 100%;
}

	#home_widgets a {
		color: #B1B1B1;
		margin: 5px 10px;
	}
	
		#home_widgets a:hover {
		    color: #FFFFFF;
		}
		
		#home_widgets li a:hover {
		    background-color: #302D2D;
		    padding: 5px 10px;
		    margin:0;
		}

	#home_widgets .widget {
	    float: left;
	    padding: 0;
	    margin-right: 2.6785714285714284%;
	    margin-bottom: 2.6785714285714284%;
	}

#home_widgets.widget_count1 .widget {
    width: 100%;
    margin-right:0;
}

#home_widgets.widget_count2 .widget {
    width: 48.214285714285715%
}

#home_widgets.widget_count3 .widget,
#home_widgets.widget_count_overflow .widget {
    width: 31.25%;
    margin-right: 3.125%;
}

	#home_widgets.widget_count_overflow .widget:nth-child(1n+4) .box_title.widgettitle {
		margin-top: 30px;
	}

#home_widgets.widget_count4 .widget {
    width: 22.321428571428573%;;
    margin-right: 3.571428571428571%;
}

	#home_widgets.widget_count2 .widget:nth-child(2),
	#home_widgets.widget_count3 .widget:nth-child(3),
	#home_widgets.widget_count_overflow .widget:nth-child(3n),
	#home_widgets.widget_count4 .widget:nth-child(4) {
		margin-right: 0;
	}
	
		#home_widgets.widget_count_overflow .widget:nth-child(3n+1) {
			clear:both;
		}

#home_cta {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
    position: relative;
    padding: 100px 0;
    background-position: center center;
    text-align: center;
    font-size: 18px;
}

	#home_cta .button {
		margin-top: 30px;
	}
	
#home_latest_posts .container {
	max-width: 100%;
	padding: 0;
}

#home_latest_posts article {
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	width: 33.33333333333333%;
	float: left;
	color:#FFFFFF;
	position: relative;
	overflow: hidden;
}

	#home_latest_posts article .latest_bg_img {
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	    background-position: center top;
	    position: absolute;
	    top:0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    display: block;
	    z-index: 1;
		transition-delay: 0s, 0s, 0s;
	    transition-duration: 2s;
	    transition-property: transform, filter;
	    transition-timing-function: ease-in-out, ease-in-out, ease-in-out;
    }
    
		#home_latest_posts article:hover .latest_bg_img {
			-webkit-transform: scale(1.1);
			-moz-transform: scale(1.1);
			-ms-transform: scale(1.1);
			-o-transform: scale(1.1);
			transform: scale(1.1);
		}

	#home_latest_posts .post_content {
		background: rgba(0,0,0,.5);
		padding: 6.25%; /* 40 / 640 */
		-moz-box-sizing:border-box;
		-webkit-box-sizing:border-box;
		box-sizing:border-box;
		min-height: 380px;
		position: relative;
		z-index: 2;
	}

	#home_latest_posts article .latest_content {
		-moz-box-sizing:border-box;
		-webkit-box-sizing:border-box;
		box-sizing:border-box;
		position: absolute;
		margin:6.25%;
		left: 0;
		bottom:0;
	}
	
		#home_latest_posts article .latest_content p {
			margin: 0;
			font-weight: 300;
		}

	#home_latest_posts article a {
		color: #FFFFFF;
	}
	
.latest_date {
    font-size: 0.8em;
    font-weight: 300;
}

.latest_post_title {
	padding:20px 0 40px;
	position: relative;
	margin: 0;
	font-weight: 400;
}

	.latest_post_title:after {
		content:"";
		width: 25%;
		height: 1px;
		background-color: #FFFFFF;
		display: block;
		position: absolute;
		bottom:20px;
	}
	
	.latest_post_title a {
		border-bottom: 1px dashed transparent;
	}
	
		.latest_post_title a:hover {
			border-color: #FFFFFF;
		}

/* ============================================== IMAGE GRIDS ============================================== */

.edd_downloads_list {
	width: 100%;
	padding-bottom: 60px;
	position: relative;
}

.edd_downloads_list .edd_download {
	width: 25% !important; 
	display: block;
	padding: .4464285714285714% !important; /* 5px / 1120 */ 
	float: left !important;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box; 
	box-sizing:border-box;
}

	#image_grid.latest_products .edd_downloads_list .edd_download,
	.page-template-page-vendor-php .edd_downloads_list .edd_download {
		width: 33.3333333333% !important;
		padding: .641025641025641%; /* 5 / 780 */ 
	}
	
#image_grid.latest_products {
	margin-top: 40px;
}

.edd_downloads_list .edd_download .edd_download_inner {
	padding: 0;
	margin: 0;
	overflow: hidden;
	position: relative;
}

.edd_downloads_list .edd_download .edd_download_inner a,
.edd_downloads_list .edd_download .edd_download_inner a img {
	display: block;
}

.stocky_hover_details {

position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
overflow: hidden;
background-color: #5AC3A2;
opacity: 0;
-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-ms-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
transition: opacity 0.35s, transform 0.35s;
}

	.edd_download_image:hover .stocky_hover_details {
		opacity: .9;
	}
	
.stocky_hover_lines {
	display: block;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-transition: opacity 0.35s, transform 0.35s;
	-moz-transition: opacity 0.35s, transform 0.35s;
	-ms-transition: opacity 0.35s, transform 0.35s;
	-o-transition: opacity 0.35s, transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(0);
	transform: scale(0);
	opacity: 0;
	border: 1px solid #FFFFFF;
	border:1px solid rgba(255, 255, 255, 0.30);
	margin: 10px;
	height: calc(100% - 20px);
	width: calc(100% - 20px);
}
	
	.edd_download_image:hover .stocky_hover_lines {
		-webkit-transform: scale(1);
		transform: scale(1);
		opacity: 1;
	}

.dcs_view_details {
	color: #FFFFFF;
	border: 3px solid #FFFFFF;
	display: inline-block !important;
	padding: 5px 10px;
	width: auto;
	height: 45px;
	width: 130px;
	text-align: center;
	position: absolute;
	top:36%;
	left:50%;
	margin:-22.5px 0 0 -65px;
	font-size: .8em;
	text-transform: uppercase;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}

	.dcs_view_details:hover {
		background-color:#FFFFFF;
		color:#151515;
	}
	
.stocky_wish_list_on .dcs_view_details {
	margin:-40px 0 0 -65px;
} 
	
.stocky_hover_details .edd-wl-button {	
    display: inline-block !important;
    font-size: 1.2em;
    height: auto;
    left: 54%;
    margin: 0px 0 0 -66px !important;
    padding: 0;
    position: absolute;
    text-align: center;
    top: 28%;
    width: 180px;
	border:0;
	background-color: transparent;
	color:#B1B1B1;
	line-height: 20px;
}
.stocky_hover_details .edd-wl-button2 {	
    display: inline-block !important;
    font-size: 1.2em;
    height: auto;
    left: 50%;
    margin: 45px 0 0 -56px !important;
    padding: 0;
    position: absolute;
    text-align: center;
    top: 30%;
    width: 180px;
	border:0;
	background-color: transparent;
	color:#B1B1B1;
	line-height: 20px;
}

	.stocky_hover_details a.edd-wl-action.edd-wl-button:hover {
		color:#FFFFFF;
		background-color: transparent !important;
	}
	
.edd-wl-button,
.modal-content {
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	border-radius: 0 !important;
}

.edd-wl-delete-list {
	text-transform: uppercase;
	font-size: .6em;
	color:#777777;
	border: 3px solid #E4E4E4;
	padding: 5px 10px;
}

	.edd-wl-delete-list:hover {
		color: #BA2D2D;
		border-color: #BA2D2D;
	}
	
ul.edd-wish-list {
	margin: 0 0 10px;
}
	
.edd-wish-list li {
	padding: 10px 0 !important;
	margin:0 !important;
	list-style: none !important;
	line-height: 1em !important;
}

p.edd-variable-pricing-desc {
	color: #9D9D9D;
    margin: 0 0 0 25px;
}

.stocky_wish_list_page h3,
.stocky_wish_list_view_page h3 {
	margin:40px 0 20px;
}

a.edd-wl-action.edd-wl-button {
	border-color:#E0E0E0 !important;
}

.edd_download_purchase_form a.edd-wl-action.edd-wl-button {
	text-transform: uppercase;
	font-size: 14px;
	width: 100%;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	border-width: 3px;
	padding: 12px;
	font-weight: 700;
	letter-spacing: .1em;
	background-color: transparent;
}

	.edd_download_purchase_form a.edd-wl-action.edd-wl-button:hover {
		background-color:#E0E0E0;
		color:#444444;
	}

a.edd-wl-action.edd-wl-button:hover {
    background-color: #e0e0e0 !important;
}

.stocky-wish-list .edd-wl-item-title > a {
	display: none;
}

.stocky_edit_wishlist {
	text-align: right;
}

	.stocky_edit_wishlist a {
		text-transform: uppercase;
		font-size: .8em;
		color:#777;
	}
	
		.stocky_edit_wishlist a:before {
			content:"\f044";
			font-family: "FontAwesome";
			margin-right: 5px;
			font-weight: normal;
		}

/* ============================================== DOWNLOADS ============================================== */

.edd_purchase_submit_wrapper a.button {
	width: 100%;
	padding: 8px;
}

.single-download #edd_meta_bar .edd_download_purchase_form {
	margin: 0;
}

#edd_meta_bar {
    margin:40px 0 0;
    position: relative;
    zoom: 1;
    text-align: left;
    font-size: 14px;
}

#product_meta_wrap {
	width: 100%;
	font-size: 13px;
}

.single-product-meta {
    letter-spacing: 0.1em;
    padding: 0;
    text-transform: uppercase;
}

	.single-product-meta:first-child {
		margin-bottom: 20px;
	}

	.single-product-meta span {
		display: block;
		margin:0;
		padding:0;
	}

	.single-product-meta a {
		color: #B1B1B1;
		margin: 0 10px 0 0;
		padding:0 0 4px;
		display: inline-block;
		border-bottom: 1px dotted transparent;
		line-height: 1em;
	}
	
		.single-product-meta a:hover {
		    color: #454545;
			border-color: #454545;
		}

#product_info {
	width: 100%;
}

	#product_info .avatar {
		width: 16.666666666666666%;
		height: auto;
		float: left;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		border-radius: 50%;
	}
	
#sidebar .reviewRating {
	border:1px solid #E0E0E0;
	padding: 15px 20px 20px;
	font-size: 13px;
	text-transform: uppercase;
}
	
#sidebar .edd_reviews_rating_box {
	float: none;
	margin: 0 auto;
	line-height: 30px;
	height: auto !important;
	text-align: center;
}

#post_user {
	line-height: 25px;
	width: 80%;
	float: right;
}
		
#product_pricing {
	width: 100%;
	font-size: 0.9em;
}

	#product_pricing .edd_download_purchase_form .edd_price_options ul {
		border-top:1px solid #E3E3E3;
	}

	#product_pricing .edd_download_purchase_form .edd_price_options li {
		padding: 10px 0;
		border-bottom:1px solid #E3E3E3;
	}
		
#main_product_image,
#main_product_image img {
	display: block;
	margin: auto;
}

#extra-images {
	width: calc(100% + 20px);
}

.single_extra_image {
	width:17.94871794871795%;
	margin:2.564102564102564% 2.564102564102564% 0 0; /* 20 / 780 */
	float: left;
	position: relative;
}

	.single_extra_image:nth-child(5n) {
		margin-right: 0;
	}

	.single_extra_image .preview {
		opacity: 0;
		position: absolute;
		top:0;
		left:0;
		width: 100%;
		height: 100%;
		overflow: hidden;
		background-color: #151515;
		opacity: 0;
		-webkit-transition: all .2s linear;
		-moz-transition: all .2s linear;
		-ms-transition: all .2s linear;
		-o-transition: all .2s linear;
		transition: all .2s linear;
	}
	
		.single_extra_image .preview .fa-search-plus {
			color:#FFFFFF;
			font-size: 2em;
			display: block;
			text-align: center;
			height: 32px;
			top:50%;
			margin-top: -16px;
			position: absolute;
			left: 0;
			width: 100%;
		}
	
		.single_extra_image:hover .preview {
			opacity: .8;
		}

	.single_extra_image a,
	.single_extra_image img {
		display: block;
		float: left;
		max-width: 100%;
	}

#single_item_wrap {
	background-color:#F9F9F9;
	padding:40px 9999px 0;
	margin:-80px -9999px 0;
}

	#single_item_wrap #sidebar > div {
		margin-bottom: 40px;
	}

#product_images {
	text-align: center;
	margin-bottom: 40px;
}

#product_content {
	margin: 80px 0;
}
		
.product_title {
	padding: 40px;
}

.edd-cart-added-alert {
	width: 100%;
	text-align: center;
}

.related_products_wrap {
	margin-bottom: 80px;
}

	.related_products_wrap .box_title {
		margin-bottom: 20px;
	}
	
	.related_products_wrap .single_related {
		width: 	10.9375%;
		margin-right: 1.7857142857142856%;
		margin-bottom: 1.7857142857142856%;
		float: left;
	}
	
		.related_products_wrap .single_related img {
			width: 100%;
		}
	
		.related_products_wrap .single_related a {
			display: block;
			opacity: 1;
		}
		
			.related_products_wrap .single_related a:hover {
				opacity: .7;
			}
	
		.related_products_wrap .single_related:nth-child(8n) {
			margin-right: 0;
		}
		
#portfolio_link {
	display: block;
	border:3px solid #E0E0E0;
	text-transform: uppercase;
	font-size: 14px;
	width: 100%;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	border-width: 3px;
	padding: 12px 5px;
	text-align: center;
	color:#777;
	background-color:transparent;
	line-height: 1.42857em;
	-webkit-transition: all .15s linear;
	-moz-transition: all .15s linear;
	-ms-transition: all .15s linear;
	-o-transition: all .15s linear;
	transition: all .15s linear;
}

	#portfolio_link:hover {
		background-color:#E0E0E0;
		color:#444444;
	}
	
	#portfolio_link:after {
		content:"\f105";
		display: inline-block;
		font-family: "FontAwesome";
		margin-left: 5px;
		font-weight: normal;
	}

/* ============================================== RATINGS ============================================== */

#stocky_reviews {
	margin-top: 80px;
}

.edd_reviews_rating_box {
	background-image: none !important;
	position: relative;
	height: 30px !important;
	width: 150px !important;
	display: block;
}

.reviewRating {
	display: block;
}

.edd_reviews_rating_box p,
.edd_reviews_rating_box br {
	display: none;
}

.edd_reviews_rating_box {
	display: block;
	clear:both;
}

.edd_reviews_rating_box span,
.edd_reviews_rating_box a {
	font-size: 25px;
}

.edd_reviews_rating_box,
.edd_reviews_rating_box a {
	background-image: none !important;
}

.edd_reviews_rating_box a {
	height: 30px;
	width: 30px;
}

.comment_form_rating .edd_reviews_rating_box a i {
	font-style: normal;
}

.comment_form_rating .edd_reviews_rating_box a:hover ~ a i:before,
.comment_form_rating .edd_reviews_rating_box a:hover i:before,
.comment_form_rating .edd_reviews_rating_box a.active ~ a i:before,
.comment_form_rating .edd_reviews_rating_box a.active i:before {
	color: #EEC72E;
}

.icon-star,
.icon-star-empty {
	position: relative;
	display: inline-block;
	width: 30px;
	height: 30px;
	line-height: 30px;
	font-size: 25px;
	margin: 0;
	text-align: center;
	float: left;
}
	
	.icon-star-full:before {
		font-family: "FontAwesome";
		content:"\f005";
		color:#EEC72E;
		font-weight: normal;
	}
	
	.icon-star-empty:before {
		font-family: "FontAwesome";
		content:"\f005";
		color:#D3D3D3;
		font-weight: normal;
	}
	
.edd-review-vote {
	padding: 15px 20px 20px;
	background-color: #F9F9F9;
}
	
	.edd-review-vote .edd-review-voting-feedback + p,
	.edd-review-vote p {
		font-size: 14px;
		margin-bottom: 10px;
	}
	
.edd-reviews-voting-buttons a {
	display: inline-block;
    line-height: 25px;
    margin: 0 10px 0 0;
    padding: 0 10px;
    text-transform: uppercase;
}
	
/* ============================================== POSTS ============================================== */

.posts-wrap {
    width: 69.64285714285714%;
    float: left;
}

.content_right .posts-wrap {
    float: right
}

.about_the_author {
    padding: 20px;
    margin: 0 0 40px;
    border: 3px solid #E0E0E0;
    color: #848484;
    position: relative;
}

    .about_the_author .avatar {
        -webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		border-radius: 50%;
        margin-right: 5.128205128205128%;
        float: left;
        height:auto;
        width: 12.82051282051282%;
        -moz-box-sizing:border-box;
		-webkit-box-sizing:border-box;
		box-sizing:border-box;
    }

	.about_the_author .author_info {
	    float: left;
	    width: 82.05128205128205%;
	}

h3.author_title {
    margin: 0 0 10px;
    text-transform: uppercase;
    font-size: 1em;
}

.meta,
.additional-meta,
.post_meta,
.single-meta {
    font-size: .8em;
    color: #737373;
    line-height: 15px;
}

.meta {
    margin: 0 0 15px
}

.post_meta {
    margin: -30px 0 30px;
    line-height: 25px;
}

.meta_block {
    float: left;
    margin: 10px 40px 0 0;
    padding-left: 35px;
    position: relative;
}

    .meta_block:before {
	    font-family: "FontAwesome";
	    left: 0;
	    position: absolute;
	    text-align: center;
	    top: 0;
	    width: 35px;
	    font-weight: normal;
	}
	
	.meta_block.block-tags {
		float: none;
		margin-bottom: 40px;
		line-height: 25px;
		font-size: .8em;
		color:#737373;
	}
	
	.meta_block a {
		color: #454545;
	}
	
	.meta_block .avatar {
	    border-radius: 20px;
	    height: 25px;
	    left: 0;
	    position: absolute;
	    top: 0;
	    width: 25px;
	}
	
.block-category:before {
	content:"\f00b";
	top:1px;
}

.block-comments:before {
	content:"\f086";
}

.block-date:before {
	content:"\f073"
}

.block-tags:before {
	content:"\f02b"
}

.post_content {
    position: relative
}

.blog-home-post {
    position: relative;
    margin: 0 0 80px;
}

.blog-single-post {
    position: relative;
    margin: 0 0 40px;
}

a.more-link {
    display: inline-block;
    margin-top: 15px;
    text-align: center;
    padding: 5px 10px;
    line-height: 1.5em;
    font-size: .9em;
    text-transform: uppercase;
    border-width: 3px;
    border-style: solid;
}

	a.more-link:after {
		content: "\f105";
		display: inline-block;
		font-family: "FontAwesome";
		margin-left: 5px;
		font-weight: normal;
	}

/* ============================================== ARCHIVE ============================================== */

.post-archive {
    padding: 20px 0 20px 70px;
    position: relative;
    min-height: 50px;
    line-height: 25px;
    border-bottom: 1px dashed #E7E7E7;
}

    .post-archive .archive_image_link {
        display: block;
        position: absolute;
        top: 20px;
        left: 0;
        padding: 1px;
        height: 46px;
        width: 46px;
        background-color: #FFFFFF;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        z-index: 1;
        border: 1px solid #C5C5C5;
    }

h4.archive-entry-title {
    margin: 0;
    line-height: 25px;
}

.archive-meta {
    font-size: 11px;
    color: #555555;
}
	
/* ============================================== SIDEBARS ============================================== */

#sidebar {
    width: 26.785714285714285%;
    float: right;
}

    #sidebar .box_title.widgettitle {
        margin-bottom: 20px;
    }

.content_right #sidebar {
    float: left
}

#sidebar .widget {
    margin: 0 0 40px
}

.searchform {
    position: relative
}

.specific_user {
	text-align: center;
}

.featured_user .avatar {
    height: auto;
    display: block;
    margin: 0 auto;
    position: relative;
    width: 100px;
    max-width: 100%;
    -webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

.featured_user_name {
	display: block;
	margin: 20px 0 15px;
}

#calendar_wrap,
#wp-calendar {
    width: 100%;
    text-align: center;
}

    #calendar_wrap caption {
        margin: 0 0 10px
    }
    
    #calendar_wrap tbody td {
	    padding: 3px 0;
    }
    
	    #calendar_wrap tbody td a {
			background-color: #EBEBEB;
			border-radius: 12px;
			display: block;
			height: 24px;
			margin: auto;
			width: 24px;
	    }

#sidebar .widget li {
    padding: 10px 0;
    border-top: 1px solid #E5E5E5;
}

#sidebar .widget li:first-child {
    border: none;
    padding: 0 0 10px;
}

#sidebar .widget li:last-child {
    padding: 10px 0 0
}

#recent_products {
    width: 100%;
}

	#recent_products:hover img {
		opacity: .5;
	}
	
		#recent_products img:hover {
			opacity: 1;
		}

    #recent_products a {
        display: inline-block;
        float: left;
        width: 24%;
        margin: 1.3333333333% 1.3333333333% 0 0;
        height: auto;
        background-color: #F5F5F5;
    }
    
    	#recent_products a:nth-child(4n) {
	        margin-right: 0;
	    }
    
    #recent_products img {
        height: 100%;
        width: 100%;
        -webkit-transition: all .3s linear;
		-moz-transition: all .3s linear;
		-ms-transition: all .3s linear;
		-o-transition: all .3s linear;
		transition: all .3s linear;
		display: block;
    }

.widget ul.children {
	padding-top: 5px;
}

.widget ul li {
	margin: 0;
	padding: 5px 0;
}

	.widget ul li li {
		margin-left: 15px;
	}
	
		.widget ul li li:last-child {
			padding-bottom: 0;
		}

.widget .cart_item.empty {
	padding: 0 !important;
	text-align: center;
}

	.widget .cart_item.empty .edd_empty_cart {
	    font-weight: 900;
	    line-height: 30px;
	    text-transform: uppercase;
	    color:#848484;
	}
	
.widget .cart_item.edd_checkout a {
	width: 100%;
	text-align: center;
	padding: 5px 10px !important;
}

.widget .edd-cart {
	padding: 20px;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	border:1px solid #E0E0E0;
	font-size: .8em;
	background-color:#FFFFFF;
}

	.widget .edd-cart li {
		position: relative;
	}
	
	.widget .edd-cart li.edd-cart-item {
		padding-right: 30px !important;
	}
	
		.widget .edd-cart li.edd-cart-item .edd-cart-item-separator:nth-child(4) {
			display: none;
		}
		
		.widget .edd-cart li.edd-cart-item .edd-cart-item-price {
			font-weight: bold;
		}

	.widget .edd-cart .subtotal {
		float: right;
	}
	
	.widget .edd-cart .edd-remove-from-cart {
		font-size: 0;
		position: absolute;
		right:0;
		top:10px;
	}
	
		.widget .edd-cart li:first-child .edd-remove-from-cart {
			top:0;
		}
	
		.widget .edd-cart .edd-remove-from-cart:before {
			font-size: 18px;
			color: #CD3A18;
			content:"\f057";
			font-family: "FontAwesome";
			font-weight: normal;
		}
		
.widget .edd-cart-number-of-items {
	display: none;
}

.edd_featured_reviews .edd-review-content {
	font-style: oblique;
    margin: 20px 0 15px;
    font-size: 18px;
    line-height: 25px;
    padding-left: 25px;
    border-left: 3px solid #737373;
    color:#737373;
    font-size: .9em;
}

.edd_featured_reviews .edd-featured-review-h-card .avatar {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	width: auto;
	height: auto;
	max-width: 60px;
	margin: 25px auto 15px;
	display: block;
}

.edd_featured_reviews .edd-featured-review-h-card > p {
	margin: 0;
	font-size: .9em;
	text-align: center;
}

	.edd_featured_reviews .edd-featured-review-h-card > p:nth-child(2) {
		font-weight: bold;
	}

.edd_featured_reviews .edd_reviews_rating_box {
	display: none;
}

.edd_featured_reviews .edd-review-dateline {
	text-align: right;
	font-size: .8em;
	color:#848484;
}

/* ============================================== 404-PAGE ============================================== */

.stocky_404 {
	text-align: center;
	margin: 80px 0;
}

/* ============================================== CONTACT-PAGE ============================================== */

#stocky_contact_info {
	overflow: hidden;
	width: 100%;
	font-size: 1.5em;
	font-weight: 300;
}

#stocky_contact_inner {
	float:left;
	position: relative;
	left:50%;
}

#stocky_contact_inner > div {
	float:left;
	position: relative;
	right:50%;
	padding:5px 40px 5px 30px;
	text-align: left;
}

	#stocky_contact_inner > div:before {
		font-family: "FontAwesome";
		font-weight: normal;
		position: absolute;
		left: 0;
		top:5px;
	}

	#stocky_contact_inner > div.contact-address:before {
		content:"\f041";
		left: 5px;
	}
	
	#stocky_contact_inner > div.contact-phone:before {
		content:"\f095";
	}

/* ============================================== FOOTER ============================================== */

#footer {
	overflow: hidden;
	margin: auto;
	clear: both;
	float: none;
	padding: 80px 0 0;
	background-color:#F9F9F9;
}

#footer_widgets {
    position: relative;
    zoom: 1;
    text-align: center;
    padding-bottom: 100px;
}

.footer_widget {
    float: left;
    padding: 0 0 80px;
    margin-right: 2.6785714285714284%;
}

.footer_widget_count1 .footer_widget {
    width: 100%;
    margin:0;
}

.footer_widget_count2 .footer_widget {
    width: 48.214285714285715%
}

.footer_widget_count3 .footer_widget,
.footer_widget_overflow .footer_widget {
    width: 31.25%;
    margin-right: 3.125%;
}

.footer_widget_count4 .footer_widget {
    width: 22.321428571428573%;
    margin-right: 3.571428571428571%;
}

	.footer_widget_count2 .footer_widget:nth-child(2),
	.footer_widget_count3 .footer_widget:nth-child(3),
	.footer_widget_overflow .footer_widget:nth-child(3n),
	.footer_widget_count4 .footer_widget:nth-child(4) {
		margin-right: 0;
	}

#post_footer {
	background-color: #F2F2F2;
	padding: 60px 9999px;
	margin:-80px -9999px 0;
}

#footer_copy {
	text-align: center;
}

#footer_copy a {
	border-bottom: 1px dashed #B7B7B7;
    color: #454545;
    display: inline-block;
}

	#footer_copy a:hover {
		border-bottom: 1px dashed #454545;
	}

#credit_space {
	display: inline-block;
	margin: 0 10px;
}

#socnets_wrap {
	overflow: hidden;
	width: 100%;
	margin-top: 35px;
	margin-bottom: 35px;
}

#socnets {
	float:left;
	position: relative;
	left:50%;	
}

	#socnets a {
	    float: left;
	    position: relative;
	    right: 50%;
	    margin: 0 12px;
	    display: block;
	    font-family: 'Socialglyphs-Regular';
	    font-weight: normal;
	    color: #fff;
		border-radius: 50%;
	    text-decoration: none;
	    -webkit-transition: all .25s linear;
		-moz-transition: all .25s linear;
		-ms-transition: all .25s linear;
		-o-transition: all .25s linear;
		transition: all .25s linear;
		background-color: transparent;
	}
	
	#socnets a:hover {
		background-color: #5AC3A2;
        border-radius: 50%;
        width: 50px;
        height: 50px;
	}
	
	    #socnets a:before {
	        display: block;
	        font-size: 40px;
		    line-height: 40px;
			border-radius: 50%;
		    height: 50px;
		    width: 50px;
		    text-align: center;
	    }		   
	
		    #socnets a.socnet-twitter:before {
		        content: "t"
		    }
		
		    #socnets a.socnet-twitter:hover {
		        color: #fff
		    }
		
		    #socnets a.socnet-facebook:before {
		        content: "f"
		    }
		
		    #socnets a.socnet-facebook:hover {
		        color: #fff
		    }
		
		    #socnets a.socnet-google:before {
		        content: "h"
		    }
		
		    #socnets a.socnet-google:hover {
		        color: #fff
		    }
		
		    #socnets a.socnet-flickr:before {
		        content: "a"
		    }
		
		    #socnets a.socnet-flickr:hover {
		        color: #fff
		    }
		
		    #socnets a.socnet-tumblr:before {
		        content: "u"
		    }
		
		    #socnets a.socnet-tumblr:hover {
		        color: #fff
		    }
		
		    #socnets a.socnet-vimeo:before {
		        content: "v"
		    }
		
		    #socnets a.socnet-vimeo:hover {
		        color: #fff
		    }
		
		    #socnets a.socnet-youtube:before {
		        content: "y"
		    }
		
		    #socnets a.socnet-youtube:hover {
		        color: #fff
		    }
		    
		    #socnets a.socnet-pinterest:before {
		        content: "p"
		    }
		
		    #socnets a.socnet-pinterest:hover {
		        color: #fff
		    }

/* ============================================== COMMENTS & FORMS ============================================== */

ul.children {
    margin-left:5%;
}

ul.commentlist, ul.pinglist {
    margin:-5px 0 0;
}

div.reply {
    text-align:right;
	font-size:12px;
	float: right;
	margin-left: 20px;
}

textarea#comment {
    overflow:auto;
}

ul.commentlist li,
ul.pinglist li {
	position:relative;
	margin:5px 0 0;
}

.the_comment {
	padding:0 0 40px 90px;
	position:relative;
	min-height:60px;
}

.the_comment_author {
	display: block;
	width:auto;
	position: relative;
	color:#AAAAAA;
	margin-bottom: 15px;
	width: calc(100% - 190px)
}

	.the_comment_author a {
		color:#AAAAAA;
	}
	
		.the_comment_author a:hover {
			color: #848484;
		}

ul.commentlist img.avatar {
    position: absolute;
    top: 0px;
    left: 0px;
    height:60px;
    width: 60px;
    -webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

li.bypostauthor > div > .the_comment_author span {
    font-weight: bold;
}
	
.moderation {
	display: block;
	clear: both;
	color:#37A741;
	font-weight: 900;
	margin-bottom: 5px;
}

.commentmetadata {
    float: left;
    width: auto;
}

select {
	padding: 4px 10px;
    width: 300px;
    height:33px;
}

select[multiple] {
	height: 99px;
	padding: 10px !important;
}

#reply-title {
	font-size: 1em;
}

#respond {
    margin: 80px 0 80px
}

	#respond small {
		bottom: -2px;
	    display: inline-block;
	    position: absolute;
	    right: 0;
	}
		
.commentlist #respond {
    padding-bottom: 40px;
}

.commentlist #respond h3 {
    margin-top: 0
}

.commentlist .children #respond {
    margin: 15px 0 0;
    box-shadow: none;
    border-radius: 0;
}

#commentform label,
.fes-label label,
label {
	text-transform: uppercase;
	font-weight: bold;
	color:#848484;
	letter-spacing: .05em;
}

	#commentform label .required,
	span.edd-required-indicator {
		color: #CD3A18;
		margin-left: 3px;
	}
	
.fes-help {
	color: #a0a0a0;
    display: block;
    font-size: 0.8em;
    line-height: 1.5em;
    margin-bottom: 8px;
}
	
.comment-reply-link,
.comment-edit-link,
.comment_permalink {
	text-transform: uppercase;
	color:#AAAAAA;
}
	
	.comment-reply-link:hover,
	.comment-edit-link:hover,
	.comment_permalink:hover {
		color: #848484;
	}

.comment-edit-link .fa,
.comment-reply-link .fa,
.comment_permalink .fa {
	margin-right: 5px;
}

.comment-edit-link {
	margin-right: 20px;
}

.the_comment_text .reviewRating {
	position: absolute;
	top:0;
	right: 0;
}

/* ============================================== EDD STUFF ==============================================*/

#edd-save-cart-button {
	line-height: normal;
}

#edd_login_form,
#edd_register_form,
.edd-logged-in,
.fes-form-registration-form {
	margin: 20px auto;
	width: 290px;
	max-width: 100%;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	padding: 20px;
	border: 2px solid #E0E0E0;
	background-color: #FFFFFF;
	text-align: left;
	color:#4E4E4E;
}

	.fes-form-registration-form div.fes-form fieldset {
		border: none;
	}

	#edd_login_form legend,
	#edd_register_form legend,
	#fes-registration-form-title {
		display: block;
		text-align: center;
		width: 100%;
		color: #848484;
	    font-weight: bold;
	    text-transform: uppercase;
	    padding-bottom: 20px;
	    border-bottom: 2px solid #e0e0e0;
	    font-size: 16px;
	    margin: 0 0 20px;
	    line-height: 1.8em;
	}
	
	.fes-form-registration-form .fes-submit .fes-label {
		display: none;
	}

	#edd_login_form fieldset,
	#edd_register_form fieldset {
		border: none;
	}
	
	#edd_login_form label,
	#edd_register_form label {
		display: block;
		text-transform: uppercase;
		font-weight: bold;
		color:#848484;
	}
	
.edd-lost-password {
	font-size: .8em;
	margin: 0;
}

.stocky_login_register {
	padding: 40px 0;
}

	.stocky_login_register .edd-logged-in {
		text-align: center;
		font-size: 1em;
		font-weight: bold;
	}
	
	.stocky_login_register #header_inner {
		padding: 0 0 20px;
	}
	

#back_home_wrap {
	text-align: center;
}

.stocky_login_register,
#back_home {
	color:#FFFFFF;
	text-align: center;
}

	.stocky_login_register.dark_text,
	.stocky_login_register.dark_text #back_home {
		color:#454545;
	}

	#back_home:hover {
		text-decoration: underline;
	}
	
/* Checkout, History */

#edd_user_history {
	border:1px solid #f0f0f0;
}

#edd_checkout_cart,
#edd_user_history {
	border-collapse: collapse;
}

	#edd_checkout_cart td:not(:first-child),
	#edd_checkout_cart th:not(:first-child),
	#edd_user_history td:not(:first-child),
	#edd_user_history th:not(:first-child) {
		border-left: 0;
	}
	
	#edd_checkout_cart td:not(:last-child),
	#edd_checkout_cart th:not(:last-child),
	#edd_user_history td:not(:last-child),
	#edd_user_history th:not(:last-child) {
		border-right: 0;
	}

	#edd_checkout_cart td,
	#edd_checkout_cart th,
	#edd_checkout_cart .edd_cart_header_row th,
	#edd_user_history td,
	#edd_user_history th {
		padding: 10px;
	}
	
/* Receipt */

#edd_purchase_receipt,
#edd_purchase_receipt_products {
	border-collapse: collapse;
}

#edd_purchase_receipt th,
#edd_purchase_receipt td,
#edd_purchase_receipt_products th,
#edd_purchase_receipt_products td {
	padding:5px 10px;
}

#edd_purchase_receipt thead tr,
#edd_purchase_receipt tr:nth-child(2n),
#edd_purchase_receipt_products thead tr,
#edd_purchase_receipt_products tr:nth-child(2n) {
	background-color:#F4F4F4
}

table#edd_purchase_receipt_products li.edd_download_file {
	text-transform: uppercase;
}

/* ============================================== FRONTEND SUBMISSIONS PLUGIN ==============================================*/

.fes-vendor-menu {
	margin-top: -30px;
}

.fes-vendor-menu ul li {
	list-style: none;
	margin: 0;
	border-bottom: 3px solid transparent;
	-webkit-transition: all .1s linear;
	-moz-transition: all .1s linear;
	-ms-transition: all .1s linear;
	-o-transition: all .1s linear;
	transition: all .1s linear;
}

	.fes-vendor-menu ul li.active {
		border-color: #A0A0A0;
	}
	
	.fes-vendor-menu ul li:hover {
		border-color: #E0E0E0;
	}

.col-author .fes-light-green,
.col-author .fes-light-red,
.col-author #fes-comment-date,
.col-author #fes-product-name,
.col-author #fes-view-comment {
	font-size: .8em;
}

.col-author .fes-light-green,
.col-author .fes-light-red {
	background-color: transparent;
	text-align: left;
	padding: 0;
	clear:both;
}

	.col-author .fes-light-green:before {
		font-family: "FontAwesome";
		content:"\f00c";
		color: #25B036;
		margin-right: 5px;
		font-weight: normal;
	}

table#fes-comments-table {
    border-bottom: 1px solid #E0E0E0;
    border-top: 1px solid #E0E0E0;
    width: 100%;
    margin: 2em 0;
    border-collapse: collapse;
}

table#fes-comments-table th,
table#fes-comments-table td {
	border-bottom: 1px solid #E0E0E0;
}

table#fes-comments-table td[colspan="4"],
table#fes-product-list td.fes-product-list-td[colspan="7"],
table#fes-order-list td[colspan="6"] {
	padding: 30px 0;
	text-align: center;
	color:#848484;
	font-size: 1em;
}
	
table#fes-comments-table th.col-author,
table#fes-comments-table th.col-content {
	padding-top: 20px;
	padding-bottom: 20px;
	vertical-align: top;
}

table#fes-comments-table thead tr,
table#fes-comments-table th,
table#fes-comments-table tr,
table.multiple thead tr,
table.multiple th,
table.multiple tr {
	background-color: transparent;
	border: none;
}

	table.multiple tr td,
	table.multiple th {
		padding-left: 0;
	}

table#fes-comments-table th.col-content,
table#fes-comments-table td.col-content {
	padding-left: 20px;
}

table#fes-comments-table td.col-author,
table#fes-comments-table td.col-content{
	padding-top: 40px;
	padding-bottom: 40px;
	vertical-align: top;
}

	table#fes-comments-table td.col-author br {
		display: none;
	}
	
	table#fes-comments-table td.col-author > div,
	table#fes-comments-table td.col-author > span {
		display: block;
	}
	
#fes-view-comment a {
	padding: 3px 10px;
	line-height: 1.5em;
	background-color: #FFFFFF;
	display: inline-block;
	color:#848484;
	border: 2px solid #E0E0E0;
	margin-top: 10px;
}

	#fes-view-comment a:hover {
		background-color: #E0E0E0;
		color:#454545;
	}

.col-content hr {
	height: 2px;
	background-color:#E0E0E0;
	border: none;
}

.fes-comments-content {
	margin-bottom: 20px;
}

.fes-vendor-comment-respond-form {
	margin-top: 20px;
}

	.fes-vendor-comment-respond-form span {
		color: #848484;
	    font-weight: bold;
	    text-transform: uppercase;
	}
	
	.fes-vendor-comment-respond-form button {
		margin: 10px 10px 0 0;
	}
	
table#fes-comments-table textarea {
    padding: 10px;
    resize: vertical;
    width: 100%;
    -webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

button[type="submit"] {
	padding: 0 10px;
}

	button[type="submit"].fes-ignore {
		background-color: #E0E0E0;
		color:#454545;
	}

#fes-product-list,
#fes-order-list {
	width: 100%;
}

	#fes-product-list th,
	#fes-order-list th {
		text-align: left;
	}

.fes-product-list-td img {
	width: 50px;
	display: block;
}

.fes-product-list-td .view-product-fes,
.fes-product-list-td .edit-product-fes,
.fes-order-list-td .view-order-fes {
	font-size: .7em;
	margin-right: 5px;
	border: 1px solid #E0E0E0;
	color:#454545;
	display: inline-block;
	padding: 0 5px;
	line-height: 1.8em;
	background-color:#FFFFFF;
}

	.fes-product-list-td .edit-product-fes:last-child {
		margin-right: 0;
	}

	.fes-product-list-td .view-product-fes:hover,
	.fes-product-list-td .edit-product-fes:hover {
		background-color: #E0E0E0;
	}
	
.fes-product-list-td:last-child {
	font-size: .8em;
}
	
.download-status.published {
	color: #25B036;
}

.fes-product-list-pagination-container a {
    background-color: transparent;
    margin: 30px 2px 0;
    display: inline-block;
    -moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	min-width: 30px;
	padding: 0 10px;
	line-height: 30px;
	height: 30px;
}
	
	.fes-product-list-pagination-container span {
		padding: 0 10px;
		line-height: 30px;
		height: 30px;
		background: #F7F7F7;
		margin: 30px 2px 0;
		display: inline-block;
		-moz-box-sizing:border-box;
		-webkit-box-sizing:border-box;
		box-sizing:border-box;
	}
	
a.insert-file-row {
	border-width: 3px;
	border-style: solid;
	text-transform: uppercase;
	display: inline-block;
	padding: 0 10px;
	font-size: 0.8em;
}

	a.insert-file-row:before {
		content:"\f067";
		font-family: "FontAwesome";
		display: inline-block;
		margin-right: 5px;
		font-weight: normal;
		font-size: .9em;
	}

.entry-content .fes-form td.fes-url-row {
	padding-bottom: 12px;
}

	.entry-content .fes-form .fes-variations-list-multiple td.fes-url-row {
		padding-bottom: 5px;
	}

.fes-url-choose-row .btn {
	padding: 0 10px;
	font-size: .8em;
}

.fes-delete-row .btn-danger {
	padding: 0 10px;
	font-size: .8em;
	background-color: #CD3A18;
}

div.fes-form fieldset {
	border: none;
	margin: 0;
	padding: 0;
}

div.fes-form .fes-fields {
	margin-bottom: 20px;
}

.fes-fields .image-wrap img {
	width: 100%;
}

div.fes-form fieldset .fes-fields select {
	max-width: 100%;
	width: 300px;
	min-width: 50%;
	box-shadow: none;
	border: 2px solid #CFCFCF;
	height: 35px;
    padding: 4px 10px;
    -webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.fes-vendor-menu {
    margin-top: -30px;
}

.fes-vendor-menu ul li {
    border-bottom: 3px solid transparent;
    list-style: none outside none;
    margin: 0;
    transition: all 0.1s linear 0s;
    float: left;
    text-align: center;
}

.fes-vendor-menu ul li.active {
    border-color: #a0a0a0;
}

.fes-vendor-menu ul li:hover {
    border-color: #e0e0e0;
}

.fes-vendor-menu > ul > li > a {
    display: block;
    letter-spacing: 1px;
    padding: 0 8px;
    text-decoration: none;
}

.fes-vendor-menu [class*=" icon-"],
.fes-vendor-menu [class^="icon-"] {
    margin-top: 3px;
    background-image:none;
    font-family: "FontAwesome";
    font-style: normal;
    color:#454545;
    font-weight: normal;
}

.fes-vendor-menu .icon.icon-home:before {
	content:"\f015"
}

.fes-vendor-menu .icon.icon-list:before {
	content:"\f03a"
}

.fes-vendor-menu .icon.icon-pencil:before {
	content:"\f040"
}

.fes-vendor-menu .icon.icon-gift:before {
	content:"\f06b"
}

.fes-vendor-menu .icon.icon-user:before {
	content:"\f007"
}

.fes-vendor-menu .icon.icon-off:before {
	content:"\f011"
}

.fes-author-img,
#fes-comment-author {
	display: block;
	min-height: 32px;
	margin: auto;
	line-height: 32px;
	float: left;
}

.fes-author-img {
	margin-right: 10px;
}

.fes-author-img .avatar {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

#fes-vendor-announcements {
	background-color: #FEF4CE;
	border:1px solid #EDDEA3;
	padding: 15px;
	font-size: .9em;
	margin: 25px 0;
}

fieldset.post_title:before {
	display: none;
}

.stocky_vendor_sidebar .box_title {
	margin: 40px 0 20px;
}

.stocky_vendor_sidebar #fes-contact-form-title {
	display: none;
}

.stocky_vendor {
	text-align: center;
}

	.stocky_vendor .avatar {
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		border-radius: 50%;
	    display: block;
	    height: auto;
	    margin: 0 auto 15px;
	    max-width: 60px;
	    width: auto;
	}
	
	.stocky_vendor .vendor_name {
		display: block;
		font-size: .9em;
		text-transform: uppercase;
		font-weight: bold;
		line-height: 1.5em;
	}
	
	.stocky_vendor .vendor_since {
		display: block;
		font-size: .8em;
		color:#848484;
		line-height: 1.5em;
	}
	
.stocky_vendor_bio span {
	font-size: .9em;
	color:#737373;
	line-height: 25px;
}
	
.stocky_vendor_contact textarea {
	height: 110px;
}
	
.stocky_vendor_contact .fes-submit .fes-label {
	display: none;
}

/* ============================================== ALIGNMENTS ==============================================*/

.alignright {
	float: right;
	margin: 0 0 20px 20px;
}

.alignleft {
	float: left;
	margin: 0 20px 20px 0;
}

.aligncenter {
	display: block;
	margin: 20px auto;
	text-align: center;
}

.alignnone {
	margin: 0 0 20px 0;
}

.alignright,
.alignleft,
.aligncenter,
.alignnone  {
	display: block;
	padding:4px;
	background-color: #FFFFFF;
	border:1px solid #E0E0E0;
	width: auto;
	max-width: 100%;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}

.alignright img,
.alignleft img,
.aligncenter img,
.alignnone img {
	display: block;
}

p.wp-caption-text {
    margin: 5px 0 0;
    text-align: center;
    font-size: 12px;
    line-height: 19px;
    padding:10px 0;
}

.wp-caption-dd {
	padding:15px 0 10px;
}

/* ============================================== NAVIGATION ==============================================*/

.navigation,
.stocky_navigation {
    height: auto;
    clear: both;
}

.blog .stocky_navigation {
    margin-top: -70px
}

.the_archive .stocky_navigation a {
    margin: 20px 0 40px;
    display: block;
}

.stocky_navigation a {
    margin: 30px 0 0;
}

.nav-next {
    float: right;
    text-align: right;
}

	.nav-next a:after {
		content: "\f105";
		display: inline-block;
		font-family: "FontAwesome";
		margin-left: 5px;
		font-weight: normal;
	}

.nav-prev {
    float: left;
    text-align: left;
}

	.nav-prev a:before {
		content: "\f104";
		display: inline-block;
		font-family: "FontAwesome";
		margin-right: 5px;
		font-weight: normal;
	}

#stocky_downloads_list {
	overflow: hidden;
	width: 100%;
}

	#edd_download_pagination.navigation {
		margin: 0;
		position: absolute;
		bottom:0;
	}

	#stocky_downloads_list #edd_download_pagination {
		float: left;
		left: 50%;
	}
	
		#stocky_downloads_list #edd_download_pagination span,
		#stocky_downloads_list #edd_download_pagination a {
			float:left;
			position: relative;
			right:50%;
		}
	
.navigation a,
.navigation span.current {
	padding: 0 10px;
	line-height: 26px;
	height: 30px;
	margin: 10px 5px 0;
	display: inline-block;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	border-width: 2px;
	border-style: solid;
	text-align: center;
	-webkit-transition: all .15s linear;
	-moz-transition: all .15s linear;
	-ms-transition: all .15s linear;
	-o-transition: all .15s linear;
	transition: all .15s linear;
}

.navigation span.dots {
	line-height: 20px;
	height: 30px;
	margin: 10px 5px 0;
	display: inline-block;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}

.navigation a {
	color:#FFFFFF;
}

/* ============================================== GRAVITY FORMS ==============================================*/

.gform_wrapper {
	max-width: 100% !important;
}

.entry-content .gform_body ul li.gfield {
	margin: 20px 0 0 0;
}

.container .gform_wrapper textarea {
	padding: 10px;
	font-size: 15px;
}

.recaptchatable {
	background-color:#FFFFFF;
}

.recaptchatable #recaptcha_response_field {
	padding:0;
}

/* Media for anything with a max width of 1024px. */
@media
only screen and (min-width: 0) and (max-width: 1024px) {

	.edd_download_image .stocky_hover_details {
		display: none;
	}

}

/* Media for anything with a max width of 1023px. */
@media
only screen and (min-width: 0) and (max-width: 1023px) {
	
	#home_latest_posts article {
		width: 100%;
	}
	
	#home_latest_posts .post_content {
		min-height: inherit;
		padding: 12.50% 6.25%;
	}
	
	#home_latest_posts article .latest_content {
		margin: 0;
		position: relative;
	}
	
}

/* Media for anything with a min width of 768px and max width of 1023px. Portrait iPad and larger mobile devices */
@media
only screen and (min-width: 768px) and (max-width: 1023px) {

	/* Home */
	
	.edd_downloads_list .edd_download {
		width: 33.3333333333% !important;
		padding: .641025641025641%; /* 5 / 780 */ 
	}
	
		#image_grid.latest_products .edd_downloads_list .edd_download,
		.page-template-page-vendor-php .edd_downloads_list .edd_download {
			width: 50% !important;
		}
	
	#home_widgets.widget_count4 .widget,
	.footer_widget_count4 .footer_widget {
	    width: 48.214285714285715%;
	    margin-right: 2.6785714285714284%;
	}
	
		#home_widgets.widget_count4 .widget:nth-child(2n),
		.footer_widget_count4 .footer_widget:nth-child(2n) {
			margin-right: 0;
		}

}

/* Media for anything smaller than 767px */
@media
only screen and (min-width: 0) and (max-width: 767px) {

	/* Mobile Menu */
	
	#main_menu ul#stocky_menu {
		display: none;
	}
	
	#stocky_menu_container {
		position: relative;
	}
	
	#main_menu form div {
		position: relative;
	} 
	
	select.select-menu {
		display: block;
		width: 100%;
	}
	
	#main_menu select.select-menu {
		display: block;
	    position: relative;
	    z-index: 10;
	    width: 100%;
	    height: 40px;
	    line-height: 26px;
	    top:0;
	    margin-bottom: 20px;
	    -webkit-appearance: menulist-button;
	    border:0;
	    padding: 0;
	}
	
	#main_menu span.select {
		display: block;
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 40px;
	    line-height: 40px;
	    font-size: 14px;
	    color: #6D6D6D;
	    text-indent: 30px;
	    background-color: #F2F2F2;
	    background-size:250px 43px;
	    cursor: default;
	    z-index: 1;
	    overflow: hidden;
	    text-align: left;
	}
	
		#main_menu span.select:before {
			font-family: "FontAwesome";
			content:"\f054";
			position: absolute;
			left: -18px;
			top:2px;
			font-weight: normal;
		}

	/* Home */
	
	.edd_downloads_list .edd_download,
	#image_grid.latest_products .edd_downloads_list .edd_download,
	.page-template-page-vendor-php .edd_downloads_list .edd_download {
		width: 50% !important;
	}
	
	.edd_download_image img {
		width: 100%;
	}
	
	#home_widgets.widget_count1 .widget,
	#footer_widgets.footer_widget_count1 .footer_widget {
		width: 100% !important;
		margin-right:0 !important;
	}
	
	#home_widgets .widget,
	#footer_widgets .footer_widget {
	    width: 48.214285714285715% !important;
	    margin-right: 2.6785714285714284% !important;
	}
	
		#home_widgets .widget:nth-child(2n),
		#footer_widgets .footer_widget:nth-child(2n) {
			margin-right: 0 !important;
		}
		
		#home_widgets .widget .box_title.widgettitle {
			margin-top: 30px;
		}
	
			#home_widgets .widget:first-child .box_title.widgettitle,
			#home_widgets .widget:nth-child(2) .box_title.widgettitle {
				margin-top: 0;
			}
			
	#home_widgets.widget_count_overflow .widget:nth-child(3n+1) {
		clear: none;
	}
	
	#home_widgets.widget_count_overflow .widget:nth-child(2n+1) {
		clear: both;
	}
	
	#header_inner {
		padding: 50px 0;
	}
	
	#slogan {
		font-size: 1.5em;	
	}
	
	/* Menu */
		
	#head_cart span,
	#stocky_login_register span,
	#stocky_logout span {
		display: none;
	}

	/* Downloads */

	#single_item_wrap .posts-wrap,
	#single_item_wrap #sidebar {
		float: none;
		width: 100%;
	}
	
	.related_products_wrap .single_related {
		width: 23%;
		margin-right: 2.6666666666%;
		margin-bottom: 2.6666666666%;
	}
	
		.related_products_wrap .single_related:nth-child(4n) {
			margin-right: 0;
		}
	
	/* Pages and Posts */
	
	.posts-wrap,
	#sidebar {
		width: 100%;
	}
	
	#sidebar {
		padding: 40px 9999px;
		margin: 80px -9999px -40px;
		border-bottom:10px solid #EAEAEA;
		border-top:10px solid #EAEAEA;
	}
	
	/* Sidebar */
	
	#sidebar {
		margin-top: 80px;
	}

}

/* Media for anything smaller than 500px */
@media
only screen and (min-width: 0) and (max-width: 500px) {

	/* Home */
	
	#home_widgets .widget,
	#footer_widgets .footer_widget {
	    width: 100% !important;
	    margin-right:0 !important;
	}
	
	#home_widgets .widget .box_title.widgettitle,
	#home_widgets .widget:nth-child(2) .box_title.widgettitle {
		margin-top: 30px;
	}

	/* Products */
	
	.edd_downloads_list .edd_download,
	#image_grid.latest_products .edd_downloads_list .edd_download,
	.page-template-page-vendor-php .edd_downloads_list .edd_download {
		width: 100% !important;
	}
		
	.the_comment_author {
		width: 100%;
	}
	
	.the_comment_text .reviewRating {
		position: relative;
		margin-bottom: 15px;
	}
	
	.commentmetadata,
	div.reply {
		float: none;
		margin: 0;
		text-align: left;
	}
	
	/* Posts */
	
	.about_the_author {
		padding-top: 55px;
		margin-top: 75px;
		text-align: center;
	}
	
		.about_the_author .avatar {
			float: none;
			margin:-36.5px 0 0 -35px;
			position: absolute;
			left:50%;
			top:0;
			width:70px;
			border: 3px solid #E0E0E0;
			-moz-box-sizing:border-box;
			-webkit-box-sizing:border-box;
			box-sizing:border-box;
		}
		
		.about_the_author .author_info {
			width: 100%
		}
		
	/* Comments */
	
	.the_comment {
		border-left: 3px solid #E0E0E0;
	    margin-bottom: 40px;
	    padding: 0 0 0 20px;
	}
	
	ul.commentlist img.avatar {
		display: none;
	}
		
	#respond small {
		position: relative;
		text-align: center;
		display: block;
	}

}

/* Media for anything smaller than 320px - iPhone Portait and smaller */
@media
only screen and (min-width: 0) and (max-width: 320px) {

	/* Header */
	
	#logo_wrap {
		margin: 20px 0;
		text-align: center;
		float: none;
		width: 100%;
		height: auto;
	}
	
		#logo_wrap #logo {
			max-height: inherit;
			height: auto;
			width: auto;
			max-width: 50%;
		}
		
}
/* new style */
::selection {
       background-color: #5AC3A2;
       color: #fff;
}
::-moz-selection {
       background-color: #5AC3A2;
       color: #fff;
}
.fQubeSignIn:hover{
	background: #51b595!important;
}
.fqubeBtnHover:hover{
	background: #51b595!important;
}
.people-new div.box-div:nth-child(even){
	margin-left: 33px!important;
}
.store-new div.box-div:nth-child(even){
	margin-left: 33px!important;
}
.fqube-box-shadow{
	box-shadow: -4px 5px 5px 0px rgba(0, 0, 0, 0.1);
}
.fqube-grey{
	background: #F2F2F2;
}
#viewproduct:hover{
	background: #51b595!important;
}
#deleteProduct_wrapper{
	overflow: inherit!important;
}
/* new style */