/*StyleSheet for Select Category Page*/
.dot-move {
  background: transparent;
  float:left;
  border: 1px solid #fff;
  text-indent: -9999px;
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  outline: 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  cursor:pointer;
  }
  .myfeed12{
		display:none;
	}
	.welcome{
    	float:left;
    	padding-top:25px;
    	font-weight:lighter;
		font-size:16px;
    }
 .dotted-one:hover{
  background: #fff;
 }
 .dotted-two:hover{
  background: #fff;
 }
 .dotted-three:hover{
  background: #fff;
 }
 .dotted-one{
   position: absolute;
  float: right;
  top: 125px;
  right: 110px;
 }
 .dotted-two{
   position: absolute;
  float: right;
  top: 125px;
  right: 90px;
 }
 .dotted-three{
   position: absolute;
  float: right;
  top: 125px;
  right: 70px;
 }
 .bx-controls{
 display:none;
 }
 .active{
 background: #fff;
 }
#ascrail2000{
display:none!important; 
}
#ascrail2000-hr{ 
display:none!important;
}

.raju{display:none;}
.a.bx-next
{
color:black !important;
}
.bx-controls-direction{
display:none!important;
}
.attachment-product_main{
height:230px!important;
}
#content .container{
padding-left:130px;
}
.dcs_view_details{
	border:none!important;
	background:none!important;
	color:white!important;
	}
	.edd_downloads_list .edd_download{
	width:21%!important;
	padding:13px;
	}
	.stocky_wish_list_on .dcs_view_details{
	margin:28px 45px 0 -124px!important;
	}
	.dcs_view_details{
	height: 156px!important;
width: 248px!important;
top: 2%!important;
padding:44px 10px!important;
}

#log{
display:none;
}
#sig{
display:none;}
.stocky_hover_lines{
border:none!important;
}
.circle-icon{

    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}
.img-responsive{
    margin-bottom:20px;
}

.img-responsive:hover {
overflow: hidden;
background-color: #5AC3A2;
transition: opacity 0.35s, transform 0.35s;
 
}
/* CSS3 EFFECTS */

/* THIRD EFFECTS */

.third-effect .mask {
   opacity: 0;
   overflow:visible;
   border:100px solid rgba(90,195,162,0);
   -moz-box-sizing:border-box;
   -webkit-box-sizing:border-box;
   box-sizing:border-box;
   -webkit-transition: all 0.4s ease-in-out;
   -moz-transition: all 0.4s ease-in-out;
   -o-transition: all 0.4s ease-in-out;
   -ms-transition: all 0.4s ease-in-out;
   transition: all 0.4s ease-in-out;
}
.third-effect a.info {
   position:relative;
   top:-10px;
   opacity: 0;
   -webkit-transition: opacity 0.5s 0s ease-in-out;
   -moz-transition: opacity 0.5s 0s ease-in-out;
   -o-transition: opacity 0.5s 0s ease-in-out;
   -ms-transition: opacity 0.5s 0s ease-in-out;
   transition: opacity 0.35s 0s ease-in-out;
}
.third-effect:hover .mask {
   opacity: 0.8;
   //border:100px solid #5AC3A2;  
   background-image:url(../../template/img/tick.png);
   background-repeat:no-repeat;
   background-position:center;
   background-color:#5AC3A2;
   border-radius: 5px;
}
.third-effect:active .mask {
   opacity: 0.8;
   border:100px solid #5AC3A2;
background:url(../../template/img/tick.png) center no-repeat;   
}
.third-effect:active a.info {
	opacity:1;
	-moz-transition-delay: 0.3s;
	-webkit-transition-delay: 0.3s;
	-o-transition-delay: 0.3s;
	-ms-transition-delay: 0.3s;
	transition-delay: 0.3s;
}
.third-effect:hover a.info {
	opacity:1;
	-moz-transition-delay: 0.3s;
	-webkit-transition-delay: 0.3s;
	-o-transition-delay: 0.3s;
	-ms-transition-delay: 0.3s;
	transition-delay: 0.3s;
}
/* CSS3 STYLE GENERIC */
.view {
   width: 300px;
   height: 300px;
   margin: 10px;
   text-align: center;
   float: left;
   overflow: hidden;
   position: relative;
   text-align: center;
   
   cursor: default;
}
.third-effect{
cursor:pointer;
}
.view .mask, .view .content {
   width: 200px;
   height: 200px;
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
}
.view img {
   //display: block;
   position: relative;
}
.view a.info {
   background:url(../../template/img/tick.png) center no-repeat;
   display: inline-block;
   text-decoration: none;
   padding:0;
   text-indent:-9999px;
   width:20px;
   height:20px;
}
.galery	{
//margin-left: 34px;
margin-top: 0px;
}	
.third-effect{
width:200px!important;
height:200px!important;
background: #cccccc;
border-radius: 4px;
}		
.circle-icon1 {
width: 70px;
height: 70px;
border-radius: 50%;
position: absolute;
right: 0;
margin-top: -32px;
margin-right: 60px;
}
.circle-icon2 {
width: 70px;
height: 70px;
border-radius: 50%;
position: absolute;
right: 0;
margin-top: -32px;
margin-right: 60px;
}
.circle-icon3 {
width: 70px;
height: 70px;
border-radius: 50%;
position: absolute;
right: 0;
margin-top: -32px;
margin-right: 60px;
}
.selected {
opacity: 0.8!important;
background-color: #5AC3A2!important;
background-image:url('../../template/img/tick.png');
//border:100px solid #5AC3A2!important;
background-position: center;
background-repeat: no-repeat;
}
.next-button{
float: right;
margin-right: 72px;
//margin-top: 32px;
}
.next-button{
color:#5AC3A2;
}
.name{
padding-top:17px;
}
.error-box{
display:none;
text-align: center;
color: #EB0909;
}
.dot1{
    float: right;
    border:1px solid white;
    margin-right: 108px;
    color: white;
    border-radius: 35px;
    height: 10px;
    width: 10px;
    margin-top: 28px;
}
.dot4{
    float: right;
    border:1px solid white;
    margin-right: 108px;
    color: white;
    border-radius: 35px;
    height: 10px;
    width: 10px;
    margin-top: 28px;
}
.active-dot{
background:#fff;
}
.dot2{
float: right;
    border:1px solid white;
    margin-right: -27px;
    color: white;
    border-radius: 35px;
    height: 10px;
    width: 10px;
	margin-top: 28px;
	
} 
.third-effect{
-webkit-box-shadow: -4px 7px 8px 0px rgba(0, 0, 0, 0.1);
-moz-box-shadow: -4px 7px 8px 0px rgba(0, 0, 0, 0.1);
box-shadow: -4px 7px 8px 0px rgba(0, 0, 0, 0.1);
}

.attachment-product_main{
border-radius: 50%;
height: 178px!important;
width: 178px;
}
#content .container{
padding-left:130px;
}
.dcs_view_details{
	border:none!important; 
	background:none!important;
	color:white!important;
	}
	.edd_downloads_list .edd_download{
	width:21%!important;
	padding:13px;
	}
	.stocky_wish_list_on .dcs_view_details{
	margin:28px 45px 0 -124px!important;
	}
	.dcs_view_details{
	height: 156px!important;
width: 248px!important;
top: 2%!important; 
padding:44px 10px!important;
}
.circle-icon1 {
width: 70px;
height: 70px;
border-radius: 50%;
position: absolute;
right: 0;
margin-top: -32px;
margin-right:60px;
}
#log{
display:none;
}
.btn3 {
display: inline-block;
outline: none;
padding: 6px 35px;
margin-bottom: 0;
font-size: 15px;
color:#fff;
font-weight: 100;
line-height: 1.42857143;
text-align: center;
white-space: nowrap;
vertical-align: middle;
-ms-touch-action: manipulation;
touch-action: manipulation;
cursor: pointer;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
background-image: none;
border: 1px solid transparent;
border-radius: 4px;
}
.btn2 {
display: inline-block;
outline: none;
padding: 6px 80px;
margin-bottom: 0;
font-size: 16px;
font-weight: 100;
line-height: 1.42857143;
text-align: center;
white-space: nowrap;
vertical-align: middle;
-ms-touch-action: manipulation;
touch-action: manipulation;
cursor: pointer;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
background-image: none;
border: 1px solid transparent;
border-radius: 4px;
}
      .btn-default2 {
        background-image: -webkit-linear-gradient(top,#fff 0,#e0e0e0 100%);
        background-image: -o-linear-gradient(top,#fff 0,#e0e0e0 100%);
        background-image: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#e0e0e0));
        background-image: linear-gradient(to bottom,#5AC3A2 0,#5AC3A2 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0);
        filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
        background-repeat: repeat-x;
        border:none;
       }
.btn-default2:hover{
border-color: #3b3b3b;
color:white;
background-image: linear-gradient(to bottom,#3b3b3b 0,#3b3b3b 100%);
}
.btn-default3 {
background-image: -webkit-linear-gradient(top,#fff 0,#e0e0e0 100%);
background-image: -o-linear-gradient(top,#fff 0,#e0e0e0 100%);
background-image: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#e0e0e0));
background-image: linear-gradient(to bottom,#5AC3A2 0,#5AC3A2 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0);
filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
background-repeat: repeat-x;
}
#sig{
display:none;}
.stocky_hover_lines{
border:none!important;
}
.circle-icon1{
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}
.circle-icon2{
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}
.circle-icon25{
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}
.circle-icon3{
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}
.next-button{
color:#5AC3A2;
}
div.bx-pager div:nth-child(4){
display:none;
}
.box-div{
background-color:#fff;
padding: 10px 0px 10px 0px;
margin-bottom: 40px;
margin-left: 55px;
border-radius: 2px;
}
.next-button1{
float: right;
margin-right: 98px;
}
.attachment-img {
border-radius: 5px;
height: 140px;
width: 140px;
margin-left: 12px;
}
.attachment-img1 {
border-radius: 5px;
height: 75px;
width: 75px;
margin-left: -2px;
}
.follow-btn{
margin-top: 20px;
float: right;
font-weight: 100;
}
.btn-default3:hover{
border-color: #3b3b3b;
background-image: linear-gradient(to bottom,#3b3b3b 0,#3b3b3b 100%);
}
.follow-top {
width:100%;
float:left;
margin-bottom:12px;
}
.dot3{
float: right;
border: 1px solid #fff;
margin-right: -45px;
margin-top: 28px;
color: #fff;
border-radius: 35px;
height: 10px;
width: 10px;
}
.alert-danger, .alert-error {
color: #b94a48;
background-color: #f2dede;
border-color: #eed3d7;
}
.box-div{
-webkit-box-shadow: -4px 7px 8px 0px rgba(0, 0, 0, 0.1);
-moz-box-shadow: -4px 7px 8px 0px rgba(0, 0, 0, 0.1);
box-shadow: -4px 7px 8px 0px rgba(0, 0, 0, 0.1);
}
.cogs{
/*width: 40%;*/
padding-right: 10px;
margin-top:4px;
}
.follo{
padding-right: 10px;
margin-top:8px;
}
.explore{
display:none;
}
.post{
display:none;
}
.box1{
float:left;
width:100%;
}
.box{
//clear: both;
//margin: 0 auto; 
//max-width: 300%;
//width:300%;
} 
.box2{
//display:none;
//opacity:0;
//position:absolute;
float:left;
width:100%;
}
.box3{
//display:none;
//opacity:0;
//position:absolute;
float:left;
width:100%;
}
.count-name {
font-size: 10px;
margin-top: -10px;
margin-left: 20px;
margin-bottom: 0px;
}
.writeup-subhead{
text-align:center;
color:#fff;
font-weight: 100;
font-size: 15px;
}
.writeup-head{
text-align:center;
color:#fff;
font-family: 'oswald';
font-size: 20px;
font-weight: 600;
letter-spacing: 1px;
margin-bottom: 10px;
}
.message-error{
font-size: 20px;
text-align: center;
margin-top: 25px;
}