/*ipad-landscape*/

@media (min-width: 992px){
.profile-category{
width:93%!important;
}
.tag1{
top:121px!important;
}
.tag2{
top:119px!important;
}
.tag5{
top:120px!important;
}
.tag3{
top:140px!important;
}
.tag4{
top:111px!important;
}
.tag8{
top:297px!important;
}
.tag6{
top:121px!important;
}
.tag7{
top:194px!important;
}
.tag11{
top:121px!important;
}
.tag12{
top:121px!important;
}
.tag10{
top:120px!important;
}
.tag15{
top:103px!important;
}
.tag13{
top:135px!important;
}
.tag16{
top:196px!important;
}
.tag13{
top:140px!important;
}
.tag17{
top:139px!important;
}
.tag18{
top:120px!important;
}
.tag9{
top:196px!important;
}
.tag20{
top:275px!important;
}
.tag14{
top:112px!important;
}
/*.box-div{
margin-left:24px!important;
width:46.667%!important;
}*/
}

/*ipad-potrait*/

@media only screen and (min-width : 768px) and (max-width : 992px){
.one-liners{
float: left;
width: 100%;
}
.how-col4{
float:left;
padding-left: 202px;
}
.how-img-center{
width:44%;
float:left;
}
.how-sec{
float:left;
}
.tabby{
padding-left: 36%!important;
}
.tag1{
top:121px!important;
}
.tag2{
top:119px!important;
}
.tag5{
top:120px!important;
}
.tag3{
top:140px!important;
}
.tag4{
top:111px!important;
}
.tag8{
top:297px!important;
}
.tag6{
top:121px!important;
}
.tag7{
top:194px!important;
}
.tag11{
top:121px!important;
}
.tag12{
top:121px!important;
}
.tag10{
top:120px!important;
}
.tag15{
top:103px!important;
}
.tag13{
top:135px!important;
}
.tag16{
top:196px!important;
}
.tag13{
top:140px!important;
}
.tag17{
top:139px!important;
}
.tag18{
top:120px!important;
}
.tag9{
top:196px!important;
}
.tag20{
top:275px!important;
}
.tag14{
top:112px!important;
}
.left-image{
float:left;
}
.profile-desc{
float:left;
width:69%;
}
.profile-name{
float: left;
width: 100%;
}
.name1{
float:left;
}
.follow-button{
float:right;
}
.person-desc{
float: left;
width: 100%;
}
.profile-category{
width:100%!important;
float:left;
}
.sub-tab{
float:left;
padding-right: 12px!important;
}
.small-image{
float:left;
width:33%!important;
}
.total{
float:left;
width:50%;
}
.view-collections{
float: left;
margin-left: 20%;

}
.shortlist-button{
width:44%;
}
.collects{
float:left;
}
.blocks{
float:left;
width:29%!important;
}
.people{
float: left;
/*width: 44%;*/
}
.picture-profile{
float:left;
}
.likes{
float:left;
}
.items{
float:left;
}
/*.follow-new{
float:left;
}*/
.box-div{
margin-bottom:60px;
width:62%;
}
.btn3{
width:auto!important;
}
.heart-likes{
float:left!important;
margin-left:0px!important;
}
.gogs{
float:left!important;
}
}
@media only screen and (min-width : 479px) and (max-width : 580px){
.myfeed12 {
  padding-right: 0px!important;
} 
.mob-men-post {
  margin: -73px 0px 0px 140px;
}
.small-menu {
  left: 23%!important;
}
.well {
  width: 80%!important;
}
.explore {
  padding-right: 0px!important;
}
.post {
  padding-right: 0px!important;
}
.logo{
  width: 58%!important;
  margin-left: 30px;
}
.mob-hide{
display:none!important;
}
}
/*mobile phones*/
@media only screen and (max-width : 479px){
.top-row{
padding-top:0px!important;
}
.small-image{
text-align:center;
}
.box-div{
margin-bottom:60px;
margin-left:3px!important;
}
.popup_content{
width:100%!important;
}
.facebook1{
padding: 7px!important;
padding-right: 8px!important;
padding-left: 8px!important;
}
.small-menu{
margin-top: -21px!important;
}
.logout_btn{
left: 122px!important;
top: 227px!important;
}
.google1{
padding: 7px!important;
padding-right: 8px!important;
padding-left: 8px!important;
}
.fb{
width: 39%!important;
font-size: 8px!important;
padding:6.5px!important;
}
.gm{
width: 39%!important;
font-size: 8px!important;
padding:6.5px!important;
}
#email{
width:90%!important;
}
#password{
width:90%!important;
}
#password1{
width:90%!important;
}
.placeholder{
width:10%!important;
}
.forgot{
padding: 7px 8px 7px 0px!important;
}
.top-head{
 margin: -74px 0px 13px 0px!important;
}
.register{
padding: 7px 8px 7px 0px!important;
}
#email_address{
width:90%!important;
}
#username{
width:90%!important;
}
.picture-profile{
float:left;
}
.likes{
float:left;
}
.follow-new{
float:left;
}
.items{
padding-bottom:13px!important;
}
.btn3{
width:auto!important;
}
.heart-likes{
float:left!important;
margin-left:0px!important;
}
.gogs{
float:left!important;
}
.blocks{
width:auto!important;
padding-bottom:74px!important;
}
.how-col4{
padding-bottom:0px!important;
}
.navbar-fixed-bottom, .navbar-fixed-top{
position:relative!important;
}
.left-image{
float:left;
}
.profile-name{
float: left;
width: 100%;
}
.name1{
float:left;
width:50%;
}
.follow-button{
float:left;
width:50%;
}
.person-desc{
float: left;
width: 100%;
}
.edd_download_image{
width:100%!important;
}
.profile-category{
width:100%!important;
float:left;
}
.sub-tab{
float:left;
padding-right: 12px!important;
}
.one-liners{
float:left!important;
}
.main-description{
padding:0px!important;
}
.share-icons{
float:left!important;
}
.top-container{
padding-top:0px!important;
}
.important-name{
float:left!important;
}
.product-name{
width:100%;
}

.my-random{
float:left;
}
.align-button{
float:left;
}
.top-div{
padding-bottom:70px!important;
}
}
@media only screen and (min-width : 479px) and (max-width : 522px){
.left-image{
float:left;
}
.profile-name{
float:left;
}
.sub-tab{
float:left;
}
.top-container{
padding-top:70px!important;
}
.important-name{
float:left!important;
}
.share-icons{
float:left!important;
}
.blocks{
width:auto!important;
padding-bottom:74px!important;
}
.product-name{
width:100%;
}

}
@media only screen and (min-width : 479px) and (max-width : 720px){
.top-container{
padding-top:70px!important;
}
.blocks{
width:auto!important;
padding-bottom:74px!important;
}
.product-name{
width:100%;
}
}