.home_login_popup
{
padding-bottom:18px;
padding-top:0px;
}
div#fade_wrapper {
overflow: visible !important;
}
div#fade1_wrapper
{
overflow: visible !important;
}

.likeClass
{
	background: url(<?=$baseUrl;?>template/img/sprite-like.png) 0px 32px!important;

}
.tag{
    position: absolute;
    
	color:white;
	padding-left:10px;
	

}
.tag-image{
border-radius:9px;
}
.tagging{
width:26%;
float:left;
padding:9px;
}
.tag-author{
width:74%;
float:left;

}

.fa-heart{
font-size:20px; 
}
.btn-default2:hover{
background-image: linear-gradient(to bottom,#4CA588 0,#4CA588 100%);
border-color: #4CA588;
}
input:focus{
 outline: none;
  border:none!important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
.icon1 {
display: block !important;
width: 35px;
height: 32px;
margin-top: -6px;
float: left;
line-height: 98px !important;
margin-right: auto;
margin-left: auto;
/*border-radius: 100px;*/
background-color: #f6f6f6;
color: #444;
font-size: 50px;
text-align: center;
/*webkit-transition: all 500ms ease;
-o-transition: all 500ms ease;
transition: all 500ms ease;*/
}
.icon {
display: block !important;
width: 42px;
height: 42px;
line-height: 65px !important;
margin-right: auto;
margin-left: auto;
border-radius: 100px;
background-color: #f6f6f6;
color: #444; 
font-size: 50px;
text-align: center;
/*webkit-transition: all 500ms ease;
-o-transition: all 500ms ease;
transition: all 500ms ease;*/
}
.icon2 {
display: block !important;
width: 35px;
float:left;
height: 35px;
margin-top: -6px;
line-height: 98px !important;
margin-right: auto;
margin-left: auto;
border-radius: 100px;
background-color: #f6f6f6;
color: #444; 
font-size: 50px;
text-align: center;
-webkit-transition: all 500ms ease;
-o-transition: all 500ms ease;
transition: all 500ms ease;
}
collect1:hover .collect{
/*background: url(<?=$baseUrl;?>template/img/sprite-collect.png) 0px 35px!important;*/
}

.liked
{
	background: url(<?=$baseUrl;?>template/img/sprite-like.png) 0px 32px!important;

}
#fade1
{
background: #f9f9f9;
width: 486px;
padding: 20px;
border-radius: 3px;
}
.closure{
margin-top:-20px;
}
.error2{
color: white;
background: #D27265;
margin-top: 28px;
padding: 4px;
border-radius: 3px;
float:left;
width:100%;
}
.horizontal{
margin-top: 20px;
margin-bottom: 20px;
float: left;
width: 100%;
}
.social-links{
float: left;
width: 100%;
}
a {
	color:#1e73be;
}

a:hover,
.meta_block a:hover {
	color:#fff;
}

#header,
body.page-template-page-login-php {
	background-image:url("http://themes.designcrumbs.com/stocky/files/edd/2014/06/header.jpg");
}
#home_cta {
	background-image:url("http://themes.designcrumbs.com/stocky/files/edd/2014/07/photographer.jpg");
}