
html, body {
  height:100%;
  font-family: 'Open Sans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

body{
  padding-top: 50px;
  color: #666;
  overflow-x:hidden;
}

a {
  color: #167d8c;
}
.content{
  margin-bottom: 20px;
}
.portfolio_page{
  display:none;
  width:100%;
  height:100%;
  margin-top:10px;
  border:0px;
}
.help-block{
  margin-bottom:5px;
  color:red;
  display:none;
}
.portfolio_description{
  position:fixed;
  bottom:0px;
  padding-top: 10px;
  padding-bottom: 10px;
  width:100%;
  background:rgba(0,0,0,0.7);
  color:#fff;
  font-size:16px;
  display:none;
}
.portfolio_description p{
  margin:0px;
  padding: 6px 12px;
}
.loading{
  display:none;
  position:fixed;
  top:50%;
  left:50%;
  margin-left:-50px;
  margin-top:-125px;
}
.portfolio_item{
  border:3px solid #1aa7bc;
  background:#f6f6f6;
  margin-bottom:20px;
  position:relative;
  cursor: pointer;

  -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.2);
  -moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.2);
  box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.2);
}
.portfolio_item .overlay{
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  background:rgba(0,0,0,0.4);
  display:none;
  pointer-events:none;

}
.portfolio_item img{
  width:100%;
  border-bottom:1px solid #bbb;
}
.nav_portfolio{
  display:none;
}
article{
  padding:20px;
  padding-bottom:0px;
  border-top:1px solid #999;
}
article h2{
  margin-top:0px;
}
.portfolio_nav_btn{
  width:100% !important;
}
a:hover, a:focus {
  color: #1aa7bc;
  text-decoration: none;
}

.placeholder { 
  color: #aaa; 
}

.container-int{
  margin-bottom: 50px;
}

#topcontrol{
  background-color: #000;
  padding: 5px 10px;
  font-size: 28px;
  line-height: 20px;
  color: #9B9B9B;
}
.hu{
  margin-bottom: 15px;
  border-bottom: 1px solid #ddd;
}

h1, h2, h3, .h1, .h2, .h3 {
  font-family: 'Open Sans';
  font-weight: 300;
}
h1{
  margin-bottom:10px;
}
h4, h5, h6, .h4, .h5, .h6{
  font-family: 'Open Sans';
}

h2.section-title{
  margin: 0px 0 20px 0;
  font-size: 30px;
}

h3.section-title{
  margin: 0px 0 20px 0;
  font-size: 20px;
}

h1.post-title, h2.post-title{
  font-family: 'Open Sans';
  font-weight:bold;
  font-size: 24px;
  margin-top: 0;
}

p {
  margin: 0 0 20px 0;
  line-height: 23px;
}

blockquote {
  padding: 15px 20px;
  border-left: 5px solid #167d8c;
  background: #FAFAFA;
}

blockquote p {
  font-size: 15px;
  line-height: 24px;
}

.navbar{
  margin: 0;
  border: none;
  border-bottom: 2px solid #167d8c;
  border-radius: 0;
}

.navbar-inverse {
  background-color: #1aa7bc;
  border-color: #167d8c;
}

.navbar-inverse .navbar-brand{
  font-family: 'Permanent Marker';
  font-size: 30px;
  line-height: 40px;
  color: #FFF;
  padding: 0 15px;
  margin: 0px;
  -webkit-font-smoothing: antialiased; 
  -moz-osx-font-smoothing: grayscale;
  margin-top: -5px;
}

.navbar-brand img{
  height:95%;
  margin-right:15px;
  margin-top:10px;
}

.navbar-inverse .navbar-nav > li > a {
  color: #fff;
  padding: 18px 15px;
  font-family: 'Open Sans';
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: #167d8c;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #167d8c;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #167d8c;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
  background-color: #167d8c;
}

.navbar-inverse .navbar-toggle {
  border-color: #167d8c;
  outline: none;
}

.dropdown-menu{
  background-color: #167d8c;
  border: none;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}

.dropdown-menu > li > a{
  color: #fff;
}

.link-portfolio{
  overflow: hidden;
  display: block;
  position: relative;
  margin-bottom: 30px;
}

.link-portfolio img{
  display: block;
  position: relative;
}

.link-portfolio .overlay-portfolio{
  background: rgba(0, 0, 0, 0.71);
  padding: 25px;
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #E9E9E9;
  opacity: 0;
  filter: alpha(opacity=0);
}

.link-portfolio .overlay-portfolio h3{
  font-size: 14px;
  font-family: 'Open Sans';
  font-weight:bold;
  margin: 0 0 20px 0;
}

.social-networks li{
  padding: 0;
}

.social-networks li a{
  width: 30px;
  height: 31px;
  display: inline-block;
  overflow: hidden;
}

.social-networks div.icon-social{
  width: 30px;
  text-align: center;
  color: #FFF;
  padding: 8px 0;
  font-size: 14px;
  line-height: 15px;
}

.social-networks div.icon-social.icon-social-facebook.normal{
  background: #3B5998;
}

.social-networks div.icon-social.icon-social-twitter.normal{
  background: #00CEFD;
}

.social-networks div.icon-social.icon-social-google-plus.normal{
  background: #D64136;
}

.social-networks div.icon-social.icon-social-pinterest.normal{
  background: #C32021;
}

.social-networks div.icon-social.icon-social-linkedin.normal{
  background: #0077B5;
}

.social-networks div.icon-social.icon-social-youtube.normal{
  background: #CF3427;
}

.social-networks div.icon-social.hover{
  background: #2c3e50;
}
.completedFormBox{
  border: 3px solid #3276b1;
  margin: 20px 40px;
  margin-right: 0px;
  padding: 30px;
  display:none;
  text-align: center;
  font-size: 24px;
  background-color: #f9f9f9;
}
.latest-tweets{
  margin: 0;
  padding: 0;
  list-style: none;
}

.latest-tweets li{
  margin-bottom: 15px;
}

.latest-tweets i.fa.fa-twitter{
  color: #00CEFD;
  margin: 0 5px 0 0;
}

address i.fa{
  margin: 0 5px 0 0;
}

.clients img{
  padding: 10px 0;
}

p.legal{
  text-align: right;
}

.breadcrumb{
  background: none;
  padding: 0;
}

.breadcrumb > li + li:before {
  content: "\f105";
  font-family: FontAwesome;
}

.panel-default {
  border-color: #EBEBEB;
  border: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

.panel-group .panel {
  border-radius: 0px;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

.panel-title {
  font-size: 14px;
}

.panel-default > .panel-heading {
  color: #666;
  background-color: #F8FAFA;
}

.well{
  padding: 20px;
  background: #FAFAFA;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

.well.well-lg{
  padding: 24px;
}

.well.well-sm{
  padding: 9px;
}

div.list-posts{
  padding: 0;
}

div.list-posts ul{
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 13px;
}

div.list-posts ul li{
  margin: 0;
}

div.list-posts ul li a{
  color: #95A5A6;
  padding: 15px;
  display: block;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}

div.list-posts ul li a:hover{
  background: #BDC3C7;
  color: white;
}

.nav-pills > li > a {
  border-radius: 0;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  background-color: #169D83;
}
.blog_content{
  min-height:720px;
  margin-bottom:20px;
  margin-top:30px;

}
.blog_post a{
  text-decoration: underline;
}
.shareaholic-canvas{
  position: fixed;
left: 0px;
top: 70px;

}
.blog_content .shareaholic-share-buttons-container ul.shareaholic-share-buttons {
  margin: 0px !important;
}
.blog_content .shareaholic-share-buttons-container li.shareaholic-share-button {
  padding: 0px 5px !important;
}
.shareaholic-share-buttons-heading-image{
  content:url("http://jackonthe.net/assets/img/sharing-caring.png");
}
.blog_post .entry-title a{
  text-decoration: none;
}


.post{
  border-bottom: 1px solid #EEE;
  padding-bottom: 40px;
  margin-bottom: 40px;
}
.entry-header{
  position:relative;
}
.blog_post{
  padding: 10px 40px 10px 40px;
  border-top:0;
   border: 2px solid #f1f1f1;
  border-bottom:2px solid #1aa7bc;
  margin-bottom:10px;
 background:#f9f9f9;
}
.blog_post img{
  max-width:100%;
  height: auto !important;
}
.slideDown{
  display:none;
}

.date_posted{
  width: 55px;
  height: 70px;
  background: #34495E;
  color: #fff;
  font-size: 22px;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  position: absolute;
  top: 5px;
  left: -65px;
/*  -webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;*/
}
.blog_content .attachment-thumbnail{
  float: left;
  margin-right: 15px;
  margin-top: 15px;
}
.blog_content .mobile_thumbnail{
  margin-bottom:15px;
  width:100%;
}
.search-header .search-title{
    margin-top:0px !important;
}
.blog_content .navigation{
  margin-bottom:10px;
}
.meta-nav-title{
  font-weight: bold;
}
.btn-primary a{
  color:#fff;
}
.read_more{
  font-weight: bold;
  font-size: 18px;
}
.blog_content code{
  word-wrap: break-word;
  overflow: hidden;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}
.comments-area #submit{
  color: #FFF;
background-color: #1aa7bc;
}
.comments-area .comment-list{
    list-style: none;
    padding:0px;
}
.comments-area .comments-title{
  margin-top:0px;
}
.comments-area .reply{
  margin-top:-15px;
}
.comments-area .comment{
  background-color:#e9e9e9;
}
.comments-area article{
  padding: 15px 20px;
  margin-bottom:20px;
}
.comments-area footer{
  background-color:transparent !important;
  margin:0px;
  padding:0px;
}
.widget h3{
  margin-top:0px;
}
.date_posted .day{
  padding-top:3px;
}
.blog_post footer{
  background: transparent;
  padding: 0;
  padding-bottom: 15px;
  color: #000;
  font-size: 15px;
  line-height: 1px;
}
.blog_post h1, .blog_post h2{
  margin-top:10px;
}
.img-post{
  margin: 0 0 25px 0;
  display: block;
}

.img-post img{
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

.post-meta .fa{
  margin: 0 5px 0 15px;
  color: #167d8c;
}

.post-meta .fa.first{
  margin: 0 5px 0 0;
}

/* comments */
.comment-author-icon{
  background: #ECF0F1;
  padding: 18px 20px;
  border-radius: 50px;
  margin: 10px 0 0 0;
  font-size: 20px;
  line-height: 20px;
}

.comment-content{
  width: 85%;
  margin: 0 0 0 3%;
}

/* pagination */

.pagination{
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}

.pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}

.pagination > li > a, .pagination > li > span {
  border: none;
  margin: 0 1px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  background-color: #167d8c;
}

/* tags */

.tags a{
  background: #1aa7bc;
  padding: 6px 15px;
  margin: 0 0 10px 0;
  display: inline-block;
  color: #FAFAFA;
  font-size: 12px;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}

.tags a:hover{
  background: #167d8c;
}

/* Tabs */
.nav-tabs{
  border-bottom: none;
}

.nav-tabs > li > a {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border: none;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  cursor: default;
  background-color: #FAFAFA;
  border: none;
}

.nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
  background-color: #ECF0F1;
}

.nav-stacked > li + li{
  margin-top: 0;
}

.nav-pills li a{
  padding: 7px;
  border-bottom: 1px solid #EDEDED;
}

.tab-pane {
  margin-top: 1px;
  background: #FAFAFA;
  padding: 15px;
}

.label-default {
  background-color: #1aa7bc;
}

/* Buttons */
.btn{
  border: none;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out; 
  outline: none; 
}

.btn-lg {
  padding: 10px 35px;
}

.btn-primary {
  color: #FFF;
  background-color: #1aa7bc;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary{
  background-color: #167d8c;
}

.btn-info{
  background-color: #2C3E50;
}

.btn-info:hover{
  background-color: #95A5A6;
}

.input-group-btn:last-child > .btn {
  padding: 7px 12px;
}

/* Page Sections */
.section,
.section-colored {
  padding: 50px 0;
}

.section-colored {
  background-color: #ECF0F1;
}

.section-colored.home{
  background: #423F5C url(/assets/img/section-bg.jpg) 50% 0 no-repeat;
}

.section-colored.home h2{
  margin: 0;
  color: #fff;
}

.section-header {
  background-color: #ECF0F1;
  padding: 0;
  margin-bottom: 20px;
}

.sidebar h4{
  margin: 0 0 25px 0;
}

.sidebar .tab-content{
  margin-bottom: 20px;
}

.form-control{
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  resize: none;
  background: #FCFCFC;
  border-color: #E4E4E2;
}

.form-control:focus{
  border-color: #1aa7bc;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

/* Half Page Height Carousel Customization */
.carousel {
  height: 530px;
  background: #34495e;
}

.carousel-control.left, .carousel-control.right{
  background: none;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  filter: none;
}

.carousel-control.left i{
  left: 0;
}

.carousel-control.right i{
  right: 0;
}

.carousel-control.left i, .carousel-control.right i{
  position: absolute;
  top: 245px;
  font-size: 25px;
  background: black;
  line-height: 40px;
  padding: 0 15px;
}

.carousel-indicators li, .carousel-indicators .active {
  width: 8px;
  height: 8px;
  margin: 1px;
}

.carousel-caption {
  top: 160px;
}

.carousel-caption h2{
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 43px;
  line-height: 50px;
  margin: 10px 0;
}

.carousel-caption .button{
  border: 2px solid white;
  -webkit-border: 2px solid white;
  -moz-border: 2px solid white;
  padding: 10px 40px;
  border-radius: 2px;
  color: white;
  font-family: 'Open Sans';
  font-weight:bold;
  margin: 30px 0 0 0;
  display: inline-block;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}

.carousel-caption .button:hover{
  text-decoration: none;
  background: rgba(255, 255, 255, 0.13);
}

.item,
.active,
.carousel-inner {
  height: 100%;
}
.icons i{
  margin-top:20px;
}

.fill {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  margin-top: 10px;
}

.block-icon{
  width: 70px;
  height: 70px;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  text-align: center;
  font-size: 30px;
  background: #1aa7bc;
  color: #fff;
  line-height: 70px;
  margin: 0 auto;
}

.block-body h2{
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 19px;
  text-align: center;
}

.block-body p{
  text-align: center;
  font-size: 13px;
  color: #7F8C8D;
}

.line-subtitle{
  height: 1px;
  width: 70px;
  margin: 17px auto;
  background: #DBDBDB;
}

/* Social Icons Styles */
.list-social-icons {
  margin-bottom: 45px;
}

.tooltip-social a {
  text-decoration: none;
  color: inherit;
}

.facebook-link a:hover {
  color: #3b5998;
}

.linkedin-link a:hover {
  color: #007fb1;
}

.twitter-link a:hover {
  color: #39a9e0;
}

.google-plus-link a:hover {
  color: #d14836;
}

/* Service Page Styles */
.service-icon {
  font-size: 50px;
}

/* 404 Page Styles */
h3.error-404{
  font-size: 250px;
  font-family: 'Open Sans';
  font-weight:bold;
  color: #159C81;
}

img.monster{
  max-width: 125px;
}

/* Pricing Page Styles */
.price {
  font-size: 45px;
}

.price-cents {
  vertical-align: super;
  font-size: 50%;
}

.price-month {
  font-size: 35%;
  font-style: italic;
}

.pricing-table .panel-default > .panel-heading{
  background-color: #167d8c;
  color: #FFF;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border: none;
}

.pricing-table .panel-default > .panel-body{
  background-color: #1aa7bc;
  color: #FFF;
}

.list-group-item {
  background-color: #FAFAFA;
  border: 1px solid #ECEBEB;
}

/* Footer Styles */
footer {
  background: #34495E;
  padding: 50px 0;
  color: #BDC3C7;
  font-size: 12px;
  line-height: 18px;
}

.footer-brand{
  font-family: 'Permanent Marker';
  display: inline-block;
  font-size: 30px;
  line-height: 40px;
  color: #FFF;
  margin-bottom: 10px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.contact_form{
  border-left:1px solid #ccc; 
  margin-bottom:15px;
}
.footer-brand:hover{
  color: #fff;
  text-decoration: none;
}

footer p{
  color: #BDC3C7;
  font-size: 12px;
  line-height: 18px;
}

footer h3{
  font-family: 'Open Sans';
  font-weight:bold;
  margin: 20px 0 15px 0;
  color: #FFF;
  font-size: 14px;
}

footer .form-control{
  background: #2C3E50;
  border: none;
  color: #ecf0f1;
  font-size: 12px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}

footer .form-control:focus{
  background: #ECF0F1;
  color: #7F8C8D;
  border: none;
  box-shadow: none;
  -webkit-box-shadow: none;
}

footer .input-group-btn .btn{
  height: 34px;
}

.footer-after{
  background: #2c3e50;
  padding: 20px 0;
  font-size: 12px;
}

.footer-after p{
  color: #fff;
  margin: 0;
}

.footer-after a{
  color: #FFF;
}

.footer-after a:hover{
  color: #7f8c8d;
  text-decoration: none;
}

@media (min-width: 1200px){
  .container.small_container {
    width: 970px;
  }
}

/* Small devices Tablets  */
@media (max-width: 991px) {
  p.legal{
    text-align: left;
  }
  .contact_form{
    border-left:0px; 
    margin-top:5px;
  }
  .blog_post{
    padding: 10px 20px;
  }
  .blog_post img {
    display: block;
    margin: auto;
  }
  .subTitle {
  margin-top: -5px !important;

  margin-left: 0px !important;
  }

 
}


/* Extra small devices Phones */
@media (max-width: 767px) {
  .mainHeader .container{
    top:30% !important;
  }
   footer .socialMedia{
    display:inline-block !important;
    margin-bottom:15px;
  }
  .carousel {
    height: 380px;
  }

  .carousel-caption {
    top: 4%;
  }

  .carousel-control.left i, .carousel-control.right i {
    top: 170px;
  }

  .section-colored.home h2 {
    margin-bottom: 30px;
  }

  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #FFF;
  }

  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #149178;
  }

  h3.error-404{
    font-size: 150px;
  }

  .sidebar{
    margin-top: 30px;
  }

  .comment-content {
    width: 65%;
  }
  footer a{
    text-align: center;
    display: block !important;
    float:none !important;
  }
  .blog_content footer a{
    text-align:left;
    display: inline-block !important;
  }
  .home h2, .home a{
    text-align: center;
    display:block;
  }

}
.blog_content #search{
  padding-left:30px;
  width:100%;
}
.blog_content .add-on{
  position:absolute;
  top: 12px;
  left: 25px;
}
.blog_content .widget{
    background: #f9f9f9;
    padding: 20px;
    margin-bottom: 20px;
    border: 2px solid #167d8c;
}
.blog_content .widget ul{
  list-style: none;
  padding-left: 10px;
}
.blog_content .widget-title{
  margin-top:0px;
}
.subTitle{
  margin-top: -16px;
  margin-bottom: 0px;
  margin-left: 63px;

  font-size: 14px;
  color: #fff;
}
.blog_content input, .blog_content textarea {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.blog_content input, .blog_content textarea  {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  resize: none;
  background: #FCFCFC;
  border-color: #E4E4E2;
}
.wp_comments textarea{
  height:200px;
}

footer .socialMedia img{
  width:50px;
}

/* ball animation */
.ball_container {
  width: 100px;
  height: 250px;
}
.ball {
  width: 15px;
  height: 15px;
  margin: 20px auto;
  border-radius: 50px;
  }    
    .ball:nth-child(1) {
      background: #ff005d;
      -webkit-animation: right 1s infinite ease-in-out;
      -moz-animation: right 1s infinite ease-in-out;
      animation: right 1s infinite ease-in-out;    
    }

    .ball:nth-child(2) {
      background: #35ff99;
      -webkit-animation: left 1.1s infinite ease-in-out;
      -moz-animation: left 1.1s infinite ease-in-out;
      animation: left 1.1s infinite ease-in-out;
    }

    .ball:nth-child(3) {
      background: #008597;
      -webkit-animation: right 1.05s infinite ease-in-out;
      -moz-animation: right 1.05s infinite ease-in-out;
      animation: right 1.05s infinite ease-in-out;
    }

    .ball:nth-child(4) {
      background: #ffcc00;
      -webkit-animation: left 1.15s infinite ease-in-out;
      -moz-animation: left 1.15s infinite ease-in-out;
      animation: left 1.15s infinite ease-in-out;
     }

    .ball:nth-child(5) {
      background: #2d3443;  
      -webkit-animation: right 1.1s infinite ease-in-out;
      -moz-animation: right 1.1s infinite ease-in-out;
      animation: right 1.1s infinite ease-in-out;
    }

    .ball:nth-child(6) {
      background: #ff7c35;  
      -webkit-animation: left 1.05s infinite ease-in-out;
      -moz-animation: left 1.05s infinite ease-in-out;
      animation: left 1.05s infinite ease-in-out;
     }

    .ball:nth-child(7) {
      background: #4d407c;  
      -webkit-animation: right 1s infinite ease-in-out;
      -moz-animation: right 1s infinite ease-in-out;
      animation: right 1s infinite ease-in-out;
    }


@-webkit-keyframes right {
  0%   { -webkit-transform: translate(-20px);   }
  50%  { -webkit-transform: translate(20px);    }
  100% { -webkit-transform: translate(-20px);   }
}

@-webkit-keyframes left {
  0%   { -webkit-transform: translate(20px);    }
  50%  { -webkit-transform: translate(-20px);   }
  100% { -webkit-transform: translate(20px);    }
}

@-moz-keyframes right {
  0%   { -moz-transform: translate(-20px);   }
  50%  { -moz-transform: translate(20px);    }
  100% { -moz-transform: translate(-20px);   }
}

@-moz-keyframes left {
  0%   { -moz-transform: translate(20px);    }
  50%  { -moz-transform: translate(-20px);   }
  100% { -moz-transform: translate(20px);    }
}

@keyframes right {
  0%   { transform: translate(-20px);  }
  50%  { transform: translate(20px);   }
  100% { transform: translate(-20px);  }
}

@keyframes left {
  0%   { transform: translate(20px);   }
  50%  { transform: translate(-20px);  }
  100% { transform: translate(20px);   }
}


/*********************
* CSS3 Animate It
*********************/


.css3AnimateIt  header.mainHeader{
  width: 100%;
  z-index: 1;
  background: url(/assets/img/css3_animate_it/bg_header.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding: 0;
  padding-bottom: 140px;
  display: block;
  height:800px;

  background-position:static;

}
.buttons-inline{
  display:inline-block;
}

.findMe{
  color:#fff;
  margin-top:20px;
}
.findMe a{
  color:#fff;
  text-decoration: underline;
}
.findMe a:hover{
  color:#ccc;
  text-decoration: none;
}
.darken{
  position: fixed;
  background:rgba(0,0,0,0.7);
  z-index:1000;
  height:100%;
  width:100%;
  top:0;
  display:none;
}
.downloadWithoutDonation{
  display:none;
  margin-top:5px;
}
.exitBtn{
  position:absolute;
  top:10px;
  right:10px;
  cursor: pointer;
  font-weight:bold;
}
.donateBox{
  padding:50px;
  background:#fff;
  text-align:center;
  width:400px;
  height:400px;
  position:absolute;
  left:50%;
  margin-left:-200px;
  top:50%;
  margin-top:-200px;
  z-index:1001;
}
.mainHeader .container{
  position:relative;
  top:50%;
  margin-top:-160px;
  text-align: center;
}
.animatedParent h1{
  font-family: 'Lato', sans-serif;
  font-size: 72px;
  line-height: 62px;
  font-weight: 300;
  color:#fff;
  margin-bottom:15px;
}
.general_button{
  margin-top: 10px;
  /* padding: 10px 20px; */
  background: url('/assets/img/css3_animate_it/donate.gif');
  border: 0;
  height: 26px;
  background-repeat: no-repeat;
  display:block;
  width:93px;
  margin:auto;
  margin-top:20px;
}
.general_button:focus, .general_button:active, .general_button:hover{
  border:0;
  filter: brightness(110%);
  -webkit-filter: brightness(110%);
  -moz-filter: brightness(110%);
  -o-filter: brightness(110%);
  -ms-filter: brightness(110%);
}

.css3AnimateIt h2 {
  font-family: 'Lato', sans-serif;
  font-weight:bold;
  font-size: 32px;
  line-height: 32px;
  color: #000;
  text-align: center;
  margin-bottom:15px;
  clear: both;
  display: block;
}
.css3AnimateIt  .mainHeader h2{
  color:#fff;
  font-weight:300;
  margin-bottom: 35px;
}
.greyBackground{
  background-color:#f3f3f3;
  margin-top:20px;
  padding-bottom:30px;
}
.padded{
  margin-bottom: 0px;
padding-bottom: 0px;
margin-top: 5px;
}
.repeat{

  width: 80px;
  height: 40px;
  margin:auto;
  background:#1a8ec9;
}

body{
  overflow-x:hidden;
}
.css3AnimateIt h3{
  margin-top:0px;
  margin-left:15px;
}
.blog_content a{
  text-decoration: underline;
}


.css3AnimateIt hr{
  width: 90%;
  margin: 20px auto 30px auto;
  background-color: #fff;
  height: 2px;
}

.css3AnimateIt .btn {
display: inline-block;
padding: 6px 12px;
margin-bottom: 0;
font-size: 14px;
font-weight: normal;
line-height: 1.42857143;
text-align: center;
white-space: nowrap;
vertical-align: middle;
cursor: pointer;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
background-image: none;
border: 1px solid transparent;
border-radius: 4px;
}
.css3AnimateIt .btn-primary {
color: #fff;
background-color: #428bca;
border-color: #357ebd;
}
.css3AnimateIt .btn {
border-radius: 0;
border: none;
font-size: 16px;
font-weight: normal;
padding: 12px 24px;
line-height: 24px;
font-family: 'Open Sans', arial, sans-serif;
-webkit-transition: all 0.4s ease-in-out;
-moz-transition: all 0.4s ease-in-out;
-o-transition: all 0.4s ease-in-out;
text-decoration: none;
}

.css3AnimateIt .btn-primary {
  background-color: #d9534f;
}
.css3AnimateIt .btn-primary:hover{
  background-color:#d2322d;
}
.highlighter{
  margin-bottom:-15px;
  background-color:rgba(9,255,0, 0.6);

}

.amazonAdvert{
	border: none;
display: block;

margin: auto;
margin-top: 80px;
max-width:100%;
}